<div>

  <ion-modal #modal
     class="my-class" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-content class="ion-padding">

          <div class="no-internet-main">
            <div class="no-internet-inner">
              <div *ngIf="!isBackOnline">
                <div class="icon-container">
                  <div class="icon">
                    <img  src="assets/icons/no-signal.svg" alt="">
                  </div>
                </div>
                <div class="text">
                  No Internet Connection
                </div>
              </div>
              <div *ngIf="isBackOnline" class="back-online">
                <div class="icon-container">
                  <div class="icon">
                    <img  src="assets/icons/signal.svg" alt="">
                  </div>
                </div>
                <div class="text">
                  Back online, redirecting...
                </div>
              </div>
            </div>
          </div>
        </ion-content>
      </ng-template>
  </ion-modal>
