.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  left: 0px;
  height: 100%;
  top: 0px;
  z-index: 9999;
  background-color: white;
  .loading-container-inner {
    padding: 20px;
    position: relative;
    .image {
      width: 70vw;
      margin: 0 auto;
      margin-bottom: 5px;
    }
    .text {
      position: absolute;
      text-align: center;
      font-size: 18px;
      color: #fb9f14;
    }
  }
}

.image-carousel {
  max-width: 600px; /* Adjust the maximum width according to your design */
  margin: auto;
  overflow: hidden;
}

.image-container {
  display: flex;
  transition: transform 0.2s ease-in-out;
}

.image-container img {
  flex: 0 0 100%; /* Ensure each image takes the full width */
}

// @media only screen and (min-width: 1024px) {
//   .login-container {
//     background: linear-gradient(117deg, #ffede5 0%, #fb9f14 100%);
//     height: 100%;
//     padding-top: 8%;
//     padding-bottom: 8%;
//   }
//   .main {
//     height: 100%;
//     background-color: white;
//     display: flex;
//     width: 75%;
//     margin: 0 auto;
//     justify-content: space-evenly;
//     border-radius: 10px;
//     align-items: center;

//     .img-div {
//       width: 48%;
//       padding: 66px 0 0 0px;
//     }

//     .input-number {
//       color: black;
//       font-weight: 600;
//       font-size: 16px !important;
//     }

//     .header {
//       p {
//         font-size: 32px;
//         font-weight: 600;
//       }
//     }

//     .login {
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//     }

//     .login-heading {
//       h3 {
//         font-size: 36px;
//       }

//       h6 {
//         font-size: 16px;
//       }
//     }

//     .footer-container {
//       bottom: 16% !important;
//       width: 75% !important;

//       .toolbox {
//         height: 105px !important;
//         width: 105px !important;
//       }
//     }
//   }
// }
