<!-- <ion-tabs>

    <ion-tab-bar slot="bottom,top" class="footer">
        <ion-tab-button tab="home" class="footer-ion-tab-button" *ngIf="showHeader">
          <img src="assets/icon/navbar/home.svg" alt="">
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="booking/upcoming-history" class="footer-ion-tab-button"  *ngIf="showHeader">
          <img src="assets/icon/navbar/calendar.svg" alt="">
          <ion-label>Bookings</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="cart/all/all" class="footer-ion-tab-button"  *ngIf="showHeader">
          <img src="assets/icon/navbar/cart.svg" alt="">
          <ion-label>Cart</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="profile" class="footer-ion-tab-button"  *ngIf="showHeader">
          <img src="assets/icon/navbar/profile.svg" alt="">
          <ion-label>Profile</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs> -->


<ion-tabs>
  <ion-tab-bar slot="bottom,top" class="footer" 
  *ngIf = "hasProfileSaved && ((router.url == '/authorized/profile/profile-info') || router.url == '/authorized/profile' || (router.url == '/authorized/home') ||  (router.url == '/authorized/cart/all/all') || (router.url == '/authorized/booking/upcoming-history') || getBookingDetailUrl(router.url,'/authorized/booking/booking-details'))"
      >
        <ion-tab-button tab="home" class="footer-ion-tab-button" >
          <ng-container *ngIf = "router.url == '/authorized/home' else home">
            <img src="assets/icon/navbar/home.svg" alt="">
          </ng-container >
          <ng-template #home>
            <img src="assets/icon/navbar/home1.svg" alt="">
          </ng-template>
          
          <ion-label [ngStyle]="{ color: router.url == '/authorized/home'? '#FB9F14' : '#B4A997' }">Home</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="booking/upcoming-history" class="footer-ion-tab-button">
          <ng-container *ngIf = "router.url == '/authorized/booking/upcoming-history' else calender">
            <img src="assets/icon/navbar/calendar1.svg" alt="">
          </ng-container >
          <ng-template #calender>
            <img src="assets/icon/navbar/calendar.svg" alt="">
          </ng-template>
          
          <ion-label [ngStyle]="{ color: router.url == '/authorized/booking/upcoming-history'? '#FB9F14' : '#B4A997' }">Bookings</ion-label>

        </ion-tab-button>
        <ion-tab-button tab="cart/all/all" class="footer-ion-tab-button">
          <ng-container *ngIf = "router.url == '/authorized/cart/all/all' else cart">
            <img src="assets/icon/navbar/cart1.svg" alt="">
          </ng-container >
          <ng-template #cart>
            <img src="assets/icon/navbar/cart.svg" alt="">
          </ng-template>

          <ion-label [ngStyle]="{ color: router.url == '/authorized/cart/all/all'? '#FB9F14' : '#B4A997' }">Cart</ion-label>
          
        </ion-tab-button>
        <ion-tab-button (click)="close('/authorized/profile')" class="footer-ion-tab-button">
          <ng-container *ngIf = "router.url == '/authorized/profile/profile-info' || router.url == '/authorized/profile' else profile">
            <img src="assets/icon/navbar/profile1.svg" alt="">
          </ng-container >
          <ng-template #profile>
            <img src="assets/icon/navbar/profile.svg" alt="">
          </ng-template>
          <ion-label [ngStyle]="{ color: router.url == '/authorized/profile/profile-info'|| router.url == '/authorized/profile'? '#FB9F14' : '#B4A997' }">Profile</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>