<app-header-with-back
  [title]="'Refer A Friend'"
  [showNotificationIcon]="false"
></app-header-with-back>

<div id="mobile-view">
  <div class="container" id="container">
    <img src="../../../assets/refertofriend.svg" alt="Refer A Friend" />
    <div class="text-div">
      <h2 style="margin-top: 15px">Refer a Friend & Get upto</h2>
      <h2>50% off</h2>
    </div>

    <div class="refer-button">
      <button (click)="shareLink()">Refer A Friend</button>
    </div>
  </div>
</div>

<div class="back-container" id="web-view">
  <div class="main-container container">
    <img src="../../../assets/refertofriend.svg" alt="Refer A Friend" />
    <div class="text-div">
      <h2 style="margin-top: 15px">Refer a Friend & Get upto</h2>
      <h2>50% off</h2>
    </div>

    <div class="refer-button">
      <button (click)="shareLink()">Refer A Friend</button>
    </div>
  </div>
</div>
