#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  img {
    height: 256px;
  }

  .text-div {
    // display: flex;
    // justify-content: center;
    h2 {
      display: flex;
      justify-content: center;
      color: var(--primary, #FB9F14);
      text-align: center;
      font-family: Lato;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.72px;
      margin: 0;
    }
  }

  .refer-button{
    margin-top: 91px;
    button{
      display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 10px;
    background: var(--primary, #FB9F14
);
    box-shadow: 0px 4px 12px 1px rgba(37, 37, 37, 0.25);
    color: var(--Neutral-01, #FFFFFF);
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    // font-weight: 700;
    padding: 16px 0;
    margin: 0 auto;
    }
  }
}
