.leftArrow {
  width: 45.086px;
  height: 31px;
}
.header-md {
  margin-bottom: 11px;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 0%), 0 4px 5px 0 rgba(0, 0, 0, 0),
    0 1px 10px 0 rgb(0 0 0 / 0%);
}

ion-title {
  --color:#FB9F14 ;
}

.subcategory-container {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-evenly;
  // row-gap: 40px;
  margin-top: -3px;

  .subcategory {
    width: 100%;
    padding: 5px;

    img {
      width: 96%;
      height: 135px;
      border-radius: 14px;
    }

    h4 {
      color: #FB9F14;
      text-align: center;
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.14px;
      margin: 10px;
    }
  }
}


ion-modal {
  --width: 76%;
  --border-radius: 12px;
  --height: 76%;

  .subcategory-container {
    grid-template-columns: 30% 30% 30%;
    width: 75%;
    margin: 0 auto;
  }

  .leftArrow {
    cursor: pointer;
  }

  .cross-div {
    margin-right: 29px;
    cursor: pointer;

    img {
      width: 22px;
      object-fit: cover;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .subcategory-container {
    grid-template-columns: 30% 30% 30%;
    margin-top: 5px;
  }
}

.cross-div {
  margin-right: 15px;
  cursor: pointer;

  img {
    width: 22px;
    object-fit: cover;
  }
}

.leftArrow {
  width: 45.086px;
  height: 31px;
  cursor: pointer;
}

.desktop-view-tab {
  position: relative !important;
  padding: 0px !important;
  width: auto !important;
}

.desktop-header {
  box-shadow: none;

  ion-title {
    font-weight: 700;
  }
}