.container {
  margin-top: 120px;

  .notification-div {
    h2 {
      color: #1a1d1f;
      text-align: center;
      font-family: Lato;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: -0.16px;
    }

    p {
      color: #444;
      text-align: center;
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.14px;
      margin: 0;
    }

    .view-all{
      margin-top: 35px !important;
    }
  }

  ion-button{
    --border-radius: 12px;
    --padding-top: 14px;
    --padding-bottom: 14px;
  }
}
