<app-header-with-back [title]="'Notification'" [showNotificationIcon]="false"></app-header-with-back>
<ion-content>
  <div class="container">
    <div class="row text-center mt-4">
      <div class="col notification-div">
        <img src="../../../../assets/notification.svg" alt="Notification">
        <h2>No Notifications!</h2>
        <p>You don't have any notification yet. Please place order</p>
      </div>
    </div>
  
    <div class="container mt-4">
      <div class="row">
        <div style="background-color:#589441;" class="col"><ion-button w-50 expand="block" >View all services</ion-button></div>
      </div>
    </div>
  
  </div>  
</ion-content>



