h2,
p {
  margin: 0px;
  padding: 0px;
}
.grand-total-price{
  font-weight: bold;
  color: #579540;
  text-align: center;
}
ion-content {
  --background: #f7f7f7;
  // --ion-background-color:red;
  font-family: Lato;
  $primary: #1a1d1f;
  $secondary: #6f767e;
  $green: #579540;

  .container {
    // padding: 12px 16px 12px 16px;

    .first-section {
      background-color: #fff;
      padding: 12px 16px;
      border: 1px solid var(--line, #FFEBCB);

      section {
        display: flex;
        // height: 171px;
        padding: 25px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        background: #CDF4DF;
        /* card sahdow 2 */
        box-shadow: -1px 4px 10px -4px rgba(22, 22, 22, 0.08);

        h2 {
          margin-top: 16px;
          font-size: 16px;
          font-weight: 500;
          color: $primary;
        }

        p {
          margin-top: 4px;
          font-size: 12px;
          font-weight: 500;
          color: $secondary;
        }
      }

      img {
        height: auto;
        width: 135px;
      }
    }
    .payment-faild {
      background-color: #fff;
      padding: 12px 16px;
      border: 1px solid var(--line, #FFEBCB);

      section {
        display: flex;
        // height: 171px;
        padding: 25px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        background: #FCE4E6;
        /* card sahdow 2 */
        box-shadow: -1px 4px 10px -4px rgba(22, 22, 22, 0.08);

        h2 {
          margin-top: 16px;
          font-size: 16px;
          font-weight: 500;
          color: $primary;
        }

        p {
          margin-top: 4px;
          font-size: 12px;
          font-weight: 500;
          color: $secondary;
        }
      }

      img {
        height: auto;
        width: 135px;
      }
    }

    .second-section {
      background-color: #fff;
      padding: 12px 16px;
      margin-top: 4px;
      border: 1px solid var(--line, #FFEBCB);

      .order-placed-div {
        display: flex;
        /* align-items: center; */
        margin: 6px 0px;

        .img-div {
          width: 18%;
          .img-circle-div {
            width: 50px;
            height: 50px;
            background: #f5f5f5;
            border-radius: 58px;
          }
        }

        .category-det-div {
          //   border: 2px solid;
          width: 64%;
          padding-left: 7px;
          h3 {
            margin: 0;
            color: #FB9F14;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: -0.32px;
          }
          span {
            color: var(--Neutral-04, #6f767e);
            font-family: Lato;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            letter-spacing: -0.24px;
          }
        }

        .price-div {
          width: 18%;
          color: #579540;
          font-family: Lato;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }

      .head {
        font-size: 18px;
        color: $primary;
        font-weight: 700;
        color:#FB9F14;
      }

      .body {
        font-size: 12px;
        font-weight: 500;
        color: $secondary;
      }

      .row-2 {
        margin-top: 12px;
        display: flex;
        justify-content: space-between;

        .left {
          display: flex;
          img {
            width: 60px;
            height: 60px;
            object-fit: cover;
          }
        }

        .right {
          margin-top: 5px;
          font-size: 14px;
          font-weight: 700;
          color: $green;
        }
      }
    }

    .third-section {
      background-color: #fff;
      padding: 12px 16px;
      margin-top: 4px;
      border: 1px solid var(--line, #FFEBCB);

      .head {
        font-size: 18px;
        color: $primary;
        font-weight: 700;
        color:#FB9F14;
      }

      .row-2 {
        border-radius: 12px;
        border: 1px solid var(--line, #FFEBCB);
        padding: 12px;
        margin-top: 8px;
        /* card sahdow 2 */
        box-shadow: -1px 4px 10px -4px rgba(22, 22, 22, 0.08);
        display: flex;

        .head {
          font-size: 14px;
          color: $secondary;
          font-weight: 500;
        }

        .body {
          font-size: 14px;
          font-weight: 700;
          color: $primary;
        }
      }
    }

    .forth-section {
      background-color: #fff;
      padding: 12px 16px;
      margin-top: 4px;
      border: 1px solid var(--line, #FFEBCB);

      .head {
        font-size: 18px;
        color: $primary;
        font-weight: 700;
        color:#FB9F14;
      }

      .row-2 {
        border-radius: 12px;
        border: 1px solid var(--line, #FFEBCB);
        padding: 15px;
        margin-top: 8px;
        /* card sahdow 2 */
        box-shadow: -1px 4px 10px -4px rgba(22, 22, 22, 0.08);
        display: flex;

        .head {
          color: $primary;
          font-size: 14px;
          font-family: Manrope;
          font-weight: 700;
          color:#FB9F14;

        }

        .body {
          color: #444;
          font-size: 12px;
          font-family: Nunito Sans;
          font-weight: 400;
          letter-spacing: 0.36px;
          margin-top: 4px;
        }

        h2 {
          color: var(--primary, #181f29);
          font-size: 14px;
          font-weight: 700;
        }
    
        p {
          margin-top: 4px;
          color: #444;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    ion-button {
      margin-top: 22px;
      padding: 0px 8px;
      --border-radius: 12px;
      margin-bottom: 28px;
      --padding-top: 16px;
      --padding-bottom: 16px;
    }
  }
}

.footer{
  position: fixed;
    bottom: 0px;
    width: 100%;
    height: 91px;
    background: white;
    border: 1px solid white;
}

.temp{
    bottom: 0px;
    width: 100%;
    height: 76px;
    background: white;
    border: 1px solid white;
    padding-top: 13px;

    .bottom1{
      display: flex;
      justify-content: space-between;
      padding: 0 10px 9px;
    
      .payafter{
        width: 48%;
        display: flex;
        height: 45px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 12px;
        border: 1px solid var(--primary, #181F29);
        background: #FFF;
        flex-shrink: 0;
      }
    
      .paynow{
        width: 48%;
        display: flex;
        height: 45px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        border-radius: 12px;
        background: var(--Primary, #1A1D1F);
        color: white;
      }
    }
    .bottom1.single-button{
      justify-content: center;
    }
}
// .bottom1{
//   display: flex;
//   justify-content: space-between;
//   padding: 0 10px 9px;

//   .payafter{
//     width: 48%;
//     display: flex;
//     height: 45px;
//     justify-content: center;
//     align-items: center;
//     gap: 8px;
//     border-radius: 12px;
//     border: 1px solid var(--primary, #181F29);
//     background: #FFF;
//     flex-shrink: 0;
//   }

//   .paynow{
//     width: 48%;
//     display: flex;
//     height: 45px;
//     justify-content: center;
//     align-items: center;
//     gap: 8px;
//     flex-shrink: 0;
//     border-radius: 12px;
//     background: var(--Primary, #1A1D1F);
//     color: white;
//   }
// }














.footer1 {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 91px;
  background: white;
  border: 1px solid white;
  ion-button {
    width: 48%;
    --border-style: solid;
    --padding-top: 21px;
    --padding-bottom: 21px;
    font-size: 13px;
    --border-width: 2px;
  }
  .btn1 {
    --background: #fff;
    --color: #181f29;
    --border-color: #FB9F14;;
    --background:#FB9F14;--background-activated: #FB9F14;
  }

  .btn2 {
    --background: #181f29;
    --color: white;
    --border-color: #181f29;
  }
}