* {
  font-family: Lato !important;
  box-shadow: none;
}

.main {
  overflow: scroll;
  height: 100%;
  width: 100%;
  background: white;

  .container{
   
      color:#F5ACA4;
  }
}
.toolbar {
  --background: #fff;
  box-shadow: none;
  margin-top: -8px;
}

.back-icon {
  width: 37px;
  height: 24px;
  flex-shrink: 0;
  color: #181f29;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px;
  cursor: pointer;
}

.booking-title {
  display: inline-block;
  margin-top: 10px;
}

.notification {
  position: absolute;
  align-items: end;
  text-align: revert;
  float: right;
  right: 30px;
  margin-top: 7px;
  cursor: pointer;
}

.container {
  padding: 10px;

  .btn {
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #ffffff;
    color: var(--color-typography-content-icons-black-02, #F5ACA4);
  }

  .clicked {
    background-color: #FFF7F4;
    color: var(--primary, #F5ACA4);
  }
}

.details-1 {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--line, #e9e9e9);
  margin-left: 10px;
  width: 95%;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);

  .head {
    display: flex;
    border-bottom: 1px solid #efefef;
    padding-bottom: 10px;
    justify-content: space-between;

    .img-div {
      width: 18%;
      display: flex;
      align-items: center;
      .img-circle-div {
        width: 50px;
        height: 50px;
        background: #f5f5f5;
        border-radius: 58px;

        img {
          width: 50px;
          height: 50px;
          padding: 8px;
        }
      }
    }

    .booking-name {
      h6 {
        margin: 0;
        color: #F5ACA4;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.32px;
        text-transform: capitalize;
        margin-bottom: 7px;
      }
      p {
        margin: 0;
        color: var(--Neutral-04, #6f767e);
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 138%;
        letter-spacing: -0.24px;
      }
    }

    .price {
      display: flex;
      justify-content: end;
      p {
        margin: 0;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        color: #579540;
        font-family: Lato;
      }
    }
  }

  .row {
    margin-left: 48px;
    margin-top: -37px;

    p {
      color: var(--neutral-04, #6f767e);
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 138%;
      letter-spacing: -0.24px;
    }
  }
}

.body {
  .row-1 {
    display: flex;
    justify-content: space-between;
    h4 {
      display: flex;
      margin-left: 230px;
      color: #eb833c;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 138%;
      /* 16.56px */
      letter-spacing: -0.24px;
      border-radius: 5px;
      background: rgba(235, 131, 60, 0.25);
      padding: 0px 12px;
      align-items: center;
      gap: 10px;
    }

    h5 {
      color: #579540;
      text-align: right;
      /* Level 2> Medium- 12px */
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 138%;
      /* 16.56px */
      letter-spacing: -0.24px;
      border-radius: 5px;
      background: #ecf8f1;
      padding: 4px 10px;
      align-items: center;
      margin-left: 220px;
    }

    h6 {
      color: #6f767e;
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      margin-left: 10px;
    }
  }

  .row-2 {
    display: flex;

    .img-cal {
      display: flex;
      align-items: center;
      margin-right: 8px;

      .schedule-icon {
        border: 0.732px solid rgba(196, 196, 196, 0.3);
        padding: 10px;
        border-radius: 30px;
      }
    }

    .slot-det {
      .det {
        display: flex;
        align-items: center;
        color: var(--Neutral-07, #F5ACA4);
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 138%;
        letter-spacing: -0.24px;

        p {
          margin: 0;
          margin-right: 7px;
        }
        h6 {
          margin: 0;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
        }
      }
      span {
        color: var(--Neutral-04, #6f767e);
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 138%; /* 16.56px */
        letter-spacing: -0.24px;
      }
    }
  }

  // .schedule {
  //   display: flex;

  //   p {
  //     color: var(--neutral-04, #6f767e);
  //     font-size: 12px;
  //     font-style: normal;
  //     font-weight: 500;
  //     line-height: 138%;
  //     /* 16.56px */
  //     letter-spacing: -0.24px;
  //     margin-top: -23px;
  //     margin-left: 60px;
  //   }
  // }

  // .row-3 {
  //   display: flex;
  //   padding: 10px 1px;
  //   margin-left: 10px;
  //   justify-content: space-between;
  //   .schedule-icon {
  //     margin-left: 10px;
  //   }

  //   h6 {
  //     margin-left: 10px;
  //   }

  //   .call-button {
  //     display: inline-flex;
  //     font-size: 16px;
  //     border-radius: 12px;
  //     background: var(--primary, #181f29);
  //     color: white;
  //     text-decoration: none;
  //     padding: 10px 15px;
  //     justify-content: center;
  //     align-items: center;
  //     gap: 5px;
  //     cursor: pointer;
  //   }
  // }

  .status-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1px;

    span {
      color: #F5ACA4;
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.14px;
    }

    p {
      padding: 5px 7px;
      border-radius: 6px;
      margin: 0;
      font-size: 12px;
    }

    .allotmentPending,
    .acceptancePending,
    .otpVerificationPending {
      background: rgba(235, 131, 60, 0.25);
      color: rgba(235, 131, 60, 1);
    }
    .inProgress,
    .jobAccepted {
      background: rgba(255, 197, 84, 0.25);
      color: rgba(255, 169, 0, 1);
    }
    .completed,
    .jobStarted {
      background: rgba(240, 239, 255, 1);
      color: rgba(106, 93, 255, 1);
    }
    .discarded {
      background: #ffe1e3;
      color: #d3424a;
    }

    // .status-box {
    //   display: inline-flex;
    //   height: 21px;
    //   padding: 0px 8px;
    //   align-items: center;
    //   gap: 10px;
    //   flex-shrink: 0;
    //   justify-content: center;
    //   border-radius: 4px;
    //   font-size: 12px;
    // }

    // .allotmentpending {
    //   background: rgba(6, 163, 184, 0.25);
    //   color: var(--Allotment-Pending, #06A3B8);
    // }
    // .compelete {
    //   background: rgba(7, 191, 114, 0.25);
    //   color: var(--Completed, #07BF72);
    // }
    // .progress {
    //   background: rgba(215, 194, 6, 0.25);
    //   color: var(--In-progress, #D7C206);
    // }
    // .canelled {
    //   background: #ffe1e3;
    //   color: #d3424a;
    // }

    // .acceptancepending{
    //   background: rgba(0, 81, 139, 0.25);
    //   color: var(--Acceptance-Pending, #00518B);
    // }

    // .otpverify{
    //   background: rgba(0, 126, 218, 0.25);
    //   color: var(--OTP-Verification, #007EDA);
    // }

    // .expired{
    //   background: rgba(168, 168, 168, 0.25);
    //   color: var(--Expired, #A8A8A8);
    // }
  }
}

.subtitle {
  p {
    margin-top: -40px;
    margin-left: 63px;
    color: var(--neutral-04, #6f767e);
    font-size: 12px;
    font-weight: 500;
    line-height: 138%;
    /* 16.56px */
    letter-spacing: -0.24px;
  }
}

.noItems {
  .empty-cart-img {
    margin: 40px;
    margin-top: 100px;
  }
  .spacer {
    height: 50px;
    width: 100%;
  }
  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cart-empty-text {
      font-size: 18px;
      font-weight: 700;
      font-family: "Lato", sans-serif;
      color: #F5ACA4;
      margin: -10px;
      // line-height: 10px;
    }
    .bottom-text {
      font-size: 14px;
      // font-weight: 700;
      line-height: 15px;
      font-family: "Lato", sans-serif;
      color: #F5ACA4;
      line-height: 20px;
      text-align: center;
      width: 80%;
      margin-top: 10px;
    }
  }
}
