ion-header {
    $primary: #DA8281;
    font-family: Lato;
    box-shadow: none;

    ion-title {
        color: $primary;
        font-size: 20px;
        letter-spacing: -0.4px;
        padding-left: 0px;
    }
}