<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-inline-start: 0px">
      <ion-button (click)="location.back()">
        <img src="assets/icon/leftArrow/leftArrow.svg" alt="">
      </ion-button>
    </ion-buttons>
    <ion-title style="color:#589441">{{name}}</ion-title>
    <ion-buttons slot="end" (click)="notification()">
      <ion-button >
        <img src="assets/images/bell.svg" alt="">
        <img src="../../../assets/Ellipse 1.svg" alt="" style="display: flex;
        margin-left: -12px;
        margin-top: -10px;">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>