// .descriptionBody{
// 	padding: 8px;
// 	background: #E8E9EA;
// 	border: 2px solid #dcdcdc;
// 	border-radius: 12px;
// 	margin: 1px;
// 	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
// 	.descrption-title{
// 		font-size: 14px;
// 		font-weight: 500;
// 	}
// }
// .buttonRow{
// 	display: flex;
// 	gap:20px;
// 	ion-button{
// 		width: 100%;
// 	}
// }

// <div class="variant" *ngFor="let variant of matchingService?.variants">
// <div class="detail">
// <p class="name">{{variant.name}}</p>
// <p class="price">{{variant.price}}</p>
// </div>
// <div class="buttons">
// <ion-button fill="outline" color="dark" size="large">Add To Cart</ion-button>
// <ion-button color="dark" size="large">Book Now</ion-button>
// </div>
// </div>


// .variants{
// 	display: flex;
// 	flex-direction: column;
// 	margin-bottom: 5px;
// 	gap:10px;
// 	.variant{
// 		display: flex;
// 		flex-direction: column;
// 		--min-height: 120px;
// 		max-height: 120px;
// 		gap:10px;
// 		.detail{
// 			.name{
// 				font-size: 18px;
// 				font-weight: 700;
// 				margin: auto;
// 			}
// 			.price{
// 				font-size: 18px;
// 				font-weight: 700;
// 				color: green;
// 				text-align: end;
// 			}
// 		}
// 		.cart-button{
// 			// height: 48px;
// 			.remove, .add{
// 				font-size: 25px;
// 			}
			
// 			.remove-item{
		
// 			}
// 			ion-input{
// 				text-align: center;
// 			}
			
// 		}



// 		.buttons{
// 			display: flex;
// 			gap:10px;
// 			ion-button{
// 				width: 100%;
// 			}
// 		}
// 	}
// }
// .service-details{
// 	.service-title{
// 		font-weight: 700;
// 		margin-top: 18px;
// 		font-size: 14px;
// 	}
// 	.text-end h3{
// 		font-size: 14px;
//      font-weight: 700;
// 	}
// 	.rate{
// 		font-size: 12px;
// 		font-weight: 700;
// 	}
// 	.discount{
// 		height: 16px;
// 		margin-top: 0px;
// 		margin-bottom: 1rem;
// 		}
// 	}
// .variants_modal{
// 	padding: 0px 15px;
// 	h3{
// 		font-size: 18px;
// 		font-weight: 600;
// 		margin: auto;
// 	}
// 	p{
// 		margin: 0px;
// 		font-size: 12px;
// 		font-weight: 400;
// 		color: #F77411;
// 	}
// }
// .ion-padding{
// 	--padding-start: var(--ion-padding, 0px);
//     --padding-end: var(--ion-padding, 0px);
// }

// .detail{
// 	.name{
// 		font-size: 18px;
// 		font-weight: 700;
// 		margin: auto;
// 	}
// 	.price{
// 		margin: 0px;
// 		font-size: 18px;
// 		font-weight: 700;
// 		color: #F77411;
// 	}
// }
// ion-button{
// 	height: 48px;
//     font-size: 14px;
// 	.button-native{
// 		border-radius: 12px;
// 	}
// }

// #modal .modal-wrapper{
// 	border-radius: 12xp;
// }
// .cart-details{
// 	h3{
// 		display: flex;
// 		justify-content: space-around;
// 		align-items: flex-end;
// 		p{
// 			margin: 0px;
// 			font-size: 14px;
// 			font-weight: 400;
// 			color: #999999;
// 		}
// 	}
	
// }



// .service-box{
// 	display: flex;
//     flex-wrap: wrap;
// 	.server-type{
// 		background: #E8E9EA;
// 		width: fit-content;
// 		padding: 6px;
// 		gap: 9px;
// 		border-radius: 9px;
// 		margin: 10px;
// 	}
// 	.server-type-active{
// 		background: #000000;
// 		width: fit-content;
// 		padding: 6px;
// 		gap: 9px;
// 		border-radius: 9px;
// 		margin: 10px;
// 		color: white;
// 	}
// }
// .remove-pading{
// 	// display: block;
//     --padding-start: 0px;
//     --inner-padding-end: 0px;
// 	.addCartslot{
// 		background-color: red;
// 	}
// }


// .abc{
// 	ion-button{
// 		width: 100%;
// 	}
// }