<app-header-with-back
  [title]="name"
  [showNotificationIcon]="false"
></app-header-with-back>

<ion-content id="mobile-view">
  <div class="row-1">
    <div class="left">
      <h2 class="mb-1">Name: {{dataProvider.currentBooking?.address?.name}}</h2>
      <h2>Address: {{dataProvider.currentBooking?.address?.addressLine1}}</h2>
      <p>
        Phone no.:
        {{(this.dataProvider.currentUser?.user?.phoneNumber)?.substring(3,14)}}
      </p>
      <p>City: {{dataProvider.currentBooking?.address?.city}}</p>
      <p>State: {{dataProvider.currentBooking?.address?.state}}</p>
      <p>Pincode: {{dataProvider.currentBooking?.address?.pincode}}</p>
    </div>
  </div>

  <div class="row-2">
    <div class="top">
      <h2>Select Seva Date</h2>
      <p>Your seva will take approx. {{totalTimeNeeded}}</p>
      <div class="first-btns">
        <button
          *ngFor="let btn of dates"
          (click)="onSelectDate(btn)"
          [ngClass]="{active:selectedDate===btn}"
        >
          {{btn | date:'dd'}}<br />{{btn | date:'E'}}
        </button>
      </div>
      <h2>Select Seva Starting Slot</h2>
      <div class="second-btns" *ngIf="(activeSlotCount > 0); else noSlots">
        <button
          *ngFor="let items of slotsArray"
          (click)="startTime = items.start; endTime = items.end; setSlot(items)"
          [ngClass]="{active:startTime===items.start}"
          [disabled]="getApplicableSlots(items)"
        >
          <ng-container *ngIf="getApplicableSlots(items) else notdisabled">
            <img src="{{slotsIcons[items.index-1].disabled}}" alt="" />
            <div class="slot-det">
              <p style="color: #d7d7d7">{{slotsStatus[items.index-1]}}</p>
              <p style="color: #d7d7d7">
                {{items.start < 12 && items.end> 12 ? items.start + " AM " + '-'
                + (items.end - 12) + " PM " : (items.start > 12 && items.end >
                12 ? (items.start-12) + " PM " + ' - ' + (items.end-12) + " PM "
                : items.start + " AM " + ' - ' + items.end + " AM ")}}
              </p>
            </div>
          </ng-container>

          <ng-template #notdisabled>
            <ng-container
              *ngIf="(startTime === items.start) else notActiveIcon"
            >
              <img src="{{slotsIcons[items.index-1].light}}" alt="" />
              <div class="slot-det light">
                <p>{{slotsStatus[items.index-1]}}</p>
                <p>
                  {{items.start < 12 && items.end> 12 ? items.start + " AM " +
                  '-' + (items.end - 12) + " PM " : (items.start > 12 &&
                  items.end > 12 ? (items.start-12) + " PM " + ' - ' +
                  (items.end-12) + " PM " : items.start + " AM " + ' - ' +
                  items.end + " AM ")}}
                </p>
              </div>
            </ng-container>
            <ng-template #notActiveIcon>
              <img src="{{slotsIcons[items.index-1].dark}}" alt="" />
              <div class="slot-det dark">
                <p>{{slotsStatus[items.index-1]}}</p>
                <p>
                  {{items.start < 12 && items.end> 12 ? items.start + " AM " +
                  '-' + (items.end - 12) + " PM " : (items.start > 12 &&
                  items.end > 12 ? (items.start-12) + " PM " + ' - ' +
                  (items.end-12) + " PM " : items.start + " AM " + ' - ' +
                  items.end + " AM ")}}
                </p>
              </div>
            </ng-template>
          </ng-template>
        </button>
      </div>
      <ng-template #noSlots>
        <div class="no-slot-available">
          <button>No Slot is available</button>
        </div>
      </ng-template>

      <h2 style="margin-top: 20px">Select Seva Start Time</h2>
      <div class="third-btns">
        <button
          *ngFor="let btn of agentArrivalArray"
          (click)="selectAgentArrivalTime = btn; setTimeSlot()"
          [ngClass]="{active:selectAgentArrivalTime===btn}"
        >
          {{btn | date:'hh:mm'}} <br />
          {{btn | date:'aaa'}}
        </button>
      </div>
      <div class="box">
        <img src="assets/icon/select-slot/card.svg" alt="" />
        <p style="color: #fb9f14">
          Free cancellation till 3 hrs before the booked slot, post that ₹100
          chargeable
        </p>
      </div>
    </div>

    <div class="temp">
      <div
        class="bottom1"
        *ngIf="!dataProvider.currentBooking?.isReschule || dataProvider.currentBooking?.isReschule === false"
      >
        <input
          type="hidden"
          id="appidtoken"
          name="appidtoken"
          value="b71wYilO="
        />
        <input
          type="hidden"
          id="appaccesstoken"
          name="appaccesstoken"
          value="SS"
        />
        <input
          type="hidden"
          id="intentid"
          name="intentid"
          value="10562107158140880000"
        />
        <button
          class="paynow"
          [ngClass]="{active: (selectedDate && selectedTimeState && orderDetails && orderDetails.transaction.intentId)}"
          [disabled]="!(selectedDate && selectedTimeState && orderDetails && orderDetails.transaction.intentId)"
          (click)="createBooking()"
        >
          {{orderDetails && orderDetails.transaction.status === "INITIATED" ?
          'Pay Now': 'Processing'}}
        </button>
        <button
          class="payafter"
          [ngClass]="{active: (selectedDate && selectedTimeState)}"
          [disabled]="!(selectedDate && selectedTimeState && orderDetails && orderDetails.transaction.intentId)"
          (click)="createBookingWithoutPay()"
        >
          Pay After Seva
        </button>
      </div>
      <div class="bottom1" *ngIf="dataProvider.currentBooking?.isReschule">
        <button
          class="reschedule"
          [ngClass]="{active: (selectedDate && selectedTimeState && orderDetails && orderDetails.transaction.intentId)}"
          [disabled]="!(selectedDate && selectedTimeState)"
          (click)="rescheduleBooking()"
        >
          Reschedule
        </button>
      </div>
    </div>
  </div>
</ion-content>

<div class="back-container" id="web-view">
  <div class="main-container">
    <div class="row-1">
      <div class="left">
        <h2 class="mb-1">
          Name: {{dataProvider.currentBooking?.address?.name}}
        </h2>
        <h2>Address: {{dataProvider.currentBooking?.address?.addressLine1}}</h2>
        <p>
          Phone no.:
          {{(this.dataProvider.currentUser?.user?.phoneNumber)?.substring(3,14)}}
        </p>
        <p>City: {{dataProvider.currentBooking?.address?.city}}</p>
        <p>State: {{dataProvider.currentBooking?.address?.state}}</p>
        <p>Pincode: {{dataProvider.currentBooking?.address?.pincode}}</p>
      </div>
    </div>

    <div class="row-2">
      <div class="top">
        <h2>Select Seva Date</h2>
        <p>Your seva will take approx. {{totalTimeNeeded}}</p>
        <div class="first-btns">
          <button
            *ngFor="let btn of dates"
            (click)="onSelectDate(btn)"
            [ngClass]="{active:selectedDate===btn}"
          >
            {{btn | date:'dd'}}<br />{{btn | date:'E'}}
          </button>
        </div>
        <h2>Select Seva Starting Slot</h2>
        <div class="second-btns" *ngIf="(activeSlotCount > 0); else noSlots">
          <button
            *ngFor="let items of slotsArray"
            (click)="startTime = items.start; endTime = items.end; setSlot(items)"
            [ngClass]="{active:startTime===items.start}"
            [disabled]="getApplicableSlots(items)"
          >
            <ng-container *ngIf="getApplicableSlots(items) else notdisabled">
              <img src="{{slotsIcons[items.index-1].disabled}}" alt="" />
              <div class="slot-det">
                <p style="color: #d7d7d7">{{slotsStatus[items.index-1]}}</p>
                <p style="color: #d7d7d7">
                  {{items.start < 12 && items.end> 12 ? items.start + " AM " +
                  '-' + (items.end - 12) + " PM " : (items.start > 12 &&
                  items.end > 12 ? (items.start-12) + " PM " + ' - ' +
                  (items.end-12) + " PM " : items.start + " AM " + ' - ' +
                  items.end + " AM ")}}
                </p>
              </div>
            </ng-container>

            <ng-template #notdisabled>
              <ng-container
                *ngIf="(startTime === items.start) else notActiveIcon"
              >
                <img src="{{slotsIcons[items.index-1].light}}" alt="" />
                <div class="slot-det light">
                  <p>{{slotsStatus[items.index-1]}}</p>
                  <p>
                    {{items.start < 12 && items.end> 12 ? items.start + " AM " +
                    '-' + (items.end - 12) + " PM " : (items.start > 12 &&
                    items.end > 12 ? (items.start-12) + " PM " + ' - ' +
                    (items.end-12) + " PM " : items.start + " AM " + ' - ' +
                    items.end + " AM ")}}
                  </p>
                </div>
              </ng-container>
              <ng-template #notActiveIcon>
                <img src="{{slotsIcons[items.index-1].dark}}" alt="" />
                <div class="slot-det dark">
                  <p>{{slotsStatus[items.index-1]}}</p>
                  <p>
                    {{items.start < 12 && items.end> 12 ? items.start + " AM " +
                    '-' + (items.end - 12) + " PM " : (items.start > 12 &&
                    items.end > 12 ? (items.start-12) + " PM " + ' - ' +
                    (items.end-12) + " PM " : items.start + " AM " + ' - ' +
                    items.end + " AM ")}}
                  </p>
                </div>
              </ng-template>
            </ng-template>
          </button>
        </div>
        <ng-template #noSlots>
          <div class="no-slot-available">
            <button>No Slot is available</button>
          </div>
        </ng-template>

        <h2 *ngIf="agentArrivalArray.length>0" style="margin-top: 20px">
          Select Seva Start Time
        </h2>
        <div class="third-btns">
          <button
            *ngFor="let btn of agentArrivalArray"
            (click)="selectAgentArrivalTime = btn; setTimeSlot()"
            [ngClass]="{active:selectAgentArrivalTime===btn}"
          >
            {{btn | date:'hh:mm'}} <br />
            {{btn | date:'aaa'}}
          </button>
        </div>
        <div class="box">
          <img src="assets/icon/select-slot/card.svg" alt="" />
          <p style="color: #fb9f14">
            Free cancellation till 3 hrs before the booked slot, post that ₹100
            chargeable
          </p>
        </div>
      </div>
      <!-- <div class="bottom" (click)="createBooking()">
        <ion-button [disabled]="!(selectedDate && selectedTimeState)" expand="block">
          Book
        </ion-button>
      </div> -->

      <!-- <form
        ngNoForm
        target="_blank"
        [action]="url"
        method="POST"
        name="payment"
        enctype="application/x-www-form-urlencoded"
      >
        <input type="hidden" name="mid" [value]="orderDetails?.mid" />
        <input
          type="hidden"
          name="appidtoken"
          [value]="orderDetails?.appidtoken"
        />
        <input
          type="hidden"
          name="appaccesstoken"
          [value]="orderDetails?.appaccesstoken"
        />
        <input type="hidden" name="intentid" [value]="orderDetails?.intentid" />
        <input
          type="hidden"
          id="brandColor"
          name="brandColor"
          [value]="orderDetails?.brandColor"
        />
        <input
          type="hidden"
          id="bodyBgColor"
          name="bodyBgColor"
          [value]="orderDetails?.bodyBgColor"
        />
        <input
          type="hidden"
          id="bodyTextColor"
          name="bodyTextColor"
          [value]="orderDetails?.bodyTextColor"
        />
        <input
          type="hidden"
          id="headingText"
          name="headingText"
          [value]="orderDetails?.headingText"
        /> -->

      <!-- <form
        name="payment"
        ngNoForm
        method="POST"
        enctype="application/x-www-form-urlencoded"
        class="”JM_Wallet_Button”"
        action="https://testpg.rpay.co.in/reliance-webpay/v1.0/jiopayments"
      >
        <input type="hidden" name="version" value="2.0" />
        <input type="hidden" name="merchantid" value="100001007138007" />
        <input type="hidden" name="clientid" value="c3ab8e9faafe6144f6ac97e686d4681a" />
        <input type="hidden" name="merchantname" value="ISCONPrayagraj" />
        <input type="hidden" name="channel" value="WEB" />
        <input
          type="hidden"
          name="returl"
          value="http://61.16.175.3:8089/misimul/purchaseResult.jsp"
        />
        <input
          type="hidden"
          name="checksum"
          value="748db6f87766ce9f8aef0fe740c15ce658e614410f767a8b68a3e658f0bf05e8"
        />
        <input type="hidden" name="token" value="" />
        <input
          type="hidden"
          name="transaction.extref"
          value="P8564G73I19I3P6"
        />
        <input
          type="hidden"
          name="transaction.timestamp"
          value="20170203173956"
        />
        <input type="hidden" name="transaction.txntype" value="PURCHASE" />
        <input type="hidden" name="transaction.amount" value="1.00" />
        <input type="hidden" name="transaction.currency" value="INR" />
        <input
          type="hidden"
          name="subscriber.mobilenumber"
          value="7738221020"
        />
        <input type="hidden" name="subscriber.customerid" value="7738221020" />
        <input type="hidden" name="productdescription" value="Product1" />
        <input type="hidden" name="udf1" value="u1" />
        <input type="hidden" name="udf2" value="u2" />
        <input type="hidden" name="udf3" value="u3" />
        <input type="hidden" name="udf4" value="u4" />
        <input type="hidden" name="udf5" value="u5" />
        asffs
        <input type="submit" value="Jio Pay" />
      </form> -->

      <div class="temp">
        <div
          class="bottom1"
          *ngIf="!dataProvider.currentBooking?.isReschule || dataProvider.currentBooking?.isReschule === false"
        >
          <button
            type="submit"
            class="paynow"
            [ngClass]="{active: (selectedDate && selectedTimeState)}"
            [disabled]="!(selectedDate && selectedTimeState)"
            (click)="createBooking()"
          >
            Pay Now
          </button>
          <button
            class="payafter"
            [ngClass]="{active: (selectedDate && selectedTimeState)}"
            [disabled]="!(selectedDate && selectedTimeState)"
            (click)="createBookingWithoutPay()"
          >
            Pay After Seva
          </button>
        </div>
        <div class="bottom1" *ngIf="dataProvider.currentBooking?.isReschule">
          <button
            class="reschedule"
            [ngClass]="{active: (selectedDate && selectedTimeState)}"
            [disabled]="!(selectedDate && selectedTimeState)"
            (click)="rescheduleBooking()"
          >
            Reschedule
          </button>
        </div>
      </div>
      <!-- </form> -->
    </div>
  </div>
</div>
