h2,
p {
  margin: 0px;
}

ion-content {
  --background: #f7f7f7;
  font-family: Lato;

  // display: grid;
  // align-content: space-between;
  // height: -webkit-fill-available;
  .row-1 {
    background-color: #fff;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    margin-top: 4px;
    border: 1px solid var(--line, #FFEBCB);

    h2 {
      color: var(--primary,  #FB9F14);
      font-size: 14px;
      font-weight: 700;
    }

    p {
      margin-top: 4px;
      color:  #FB9F14;
      font-size: 14px;
      font-weight: 400;
    }

    .right {
      display: flex;
      align-items: center;
      height: 20px;
      color: var(--tertiary, #5e0080);

      img {
        width: 28px;
      }
    }
  }

  .row-2 {
    background-color: #fff;
    margin-top: 4px;
    padding: 16px;
    display: grid;
    align-content: space-between;
    height: -webkit-fill-available;
    margin-top: 4px;
    border: 1px solid var(--line, #FFEBCB);

    h2 {
      color: var(--primary, #FB9F14);
      font-size: 16px;
      letter-spacing: -0.32px;
      font-weight: 600;
    }

    p {
      color:  #FB9F14;
      font-size: 14px;
      letter-spacing: -0.28px;
      margin-top: 8px;
      font-weight: 400;
    }

    .first-btns {
      // display: flex;
      margin-top: 16px;
      margin-bottom: 18px;

      // justify-content: space-between;
      button {
        margin-top: 8px;
        margin-right: 8px;
        height: 52px;
        width: 49px;
        border-radius: 6px;
        border: 1px solid #FB9F14;
        background: #fff;
        font-size: 12px;
        font-weight: 500;
        color:#FB9F14;
      }

      button.active {
        background-color: #FB9F14;
        color: #fff;
      }
    }

    .box {
      display: flex;
      padding: 12px;
      border-radius: 8px;
      background-color:#EDF2EB;
      margin-top: 20px;
      margin-bottom: 10px;

      p {
        margin-left: 12px;
      }
    }

    .third-btns {
      display: flex;
      margin-top: 12px;

      button {
        margin-top: 8px;
        margin-right: 8px;
        height: 52px;
        width: 49px;
        border-radius: 6px;
        border: 1px solid #FB9F14;
        background: #fff;
        font-size: 12px;
        font-weight: 500;
        color:#FB9F14;
      }

      button.active {
        background-color: #FB9F14;
        color: #fff;
      }
    }

    .second-btns {
      display: grid;
      grid-template-columns: 47% 47%;
      justify-content: space-evenly;
      row-gap: 11px;
      margin-top: 24px;

      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1px 9px 5px 13px;
        border-radius: 6px;
        border: 1px solid  #FB9F14;
        background: #fff;

        .slot-det {
          color: white;
          padding-bottom: 4px;
        }
      }

      button.active {
        background-color: #FB9F14;
        color: white;

        .slot-det {
          p {
            color: white !important;
          }
        }
      }
    }
    .no-slot-available{
      padding: 0px;
      margin-top: 10px;
      button{
        height: 52px;
        border-radius: 6px;
        border: 1px solid red;
        background: #fff;
        font-weight: 500;
        padding: 0px 13px;
        color: red;
      }
    }
  }

  .button {
    --background: #FB9F14;
    --background-activated: #8d8686;
    --border-radius: 10px;
  }
}

.bottom {
  ion-button {
    margin-top: 22px;
    --border-radius: 12px;
    margin-bottom: 28px;
    --padding-top: 16px;
    --padding-bottom: 16px;
  }
}

.footer1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 9px;

  ion-button {
    width: 48%;
    --border-style: solid;
    --padding-top: 18px;
    --padding-bottom: 18px;
    font-size: 13px;
    --border-width: 2px;
  }
  .btn1 {
    --background: #fff;
    --color: #FB9F14;
    --border-color: #FB9F14;
    font-weight: 600;
  }

  .btn2 {
    --background: #FB9F14;
    --color: white;
    --border-color: #FB9F14;
  }
}

.bottom1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 9px;

  .payafter {
    width: 48%;
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    border: 1px solid  #FB9F14;
    background: #FB9F14;
    flex-shrink: 0;
    color: white;
  }

  .payafter.active{
    background: var(--Primary,#FB9F14 );
    border: 1px solid #FB9F14;
  }

  .paynow {
    width: 48%;
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    border: 1px solid  #FB9F14;
    background: #fff;
    flex-shrink: 0;
    color: #FB9F14;
  }
  .reschedule{
    width: 100%;
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    border: 1px solid  #FB9F14;
    background: #FB9F14;
    flex-shrink: 0;
    color: white;
  }
  .reschedule.active{
    background: var(--Primary, #FB9F14);
    border: 1px solid #FB9F14;
  }
  .paynow.active{
    border: 1px solid var(--primary, #FB9F14);
  }
}
