.stars {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.list-inline {
  padding-left: 16px;
  margin-bottom: 0px;
}

.rating-list {
  display: inline-block;
  list-style: none;
}

.rating-list li {
  font-size: 20px;
  // float: right;
  color: #ddd;
  // padding: 10px 5px;
}

.rating-list li:hover {
  color: #ffd700;
}

.rating-list li:hover~li {
  color: #ffd700;
}

.rating-list li.selected {
  color: #ffd700;
}

ngb-rating {
  color: #88ff00;
  font-size: 80px;
}

h1 {
  color: #094A28;
  text-align: center;
  font-size: 18px;
  font-family: Lato;
  font-weight: 500;
  margin-top: 6px;
  margin-bottom: 0px;
}