

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.formdiv{
  margin-top: 10px;
}
.google-map-container{
  height: 400px;
  width: 100%;
}
.current-location{
  background-color: white;
  color: #dd4909;
  padding-left: 0px;
  font-weight: bold;
  .location-icon{
    display: flex;
    align-items: center;
    img{
      width: 20px;
      margin-right: 10px;
    }
  }
}

ion-card {
    --background: #F6D3C1;
    --color: #85454B;
    border-radius: 12px;
    box-shadow: none;
    ion-card-content{
      padding-top: 12px;
      padding-bottom: 12px;
    }
}

.address-fields {
  display: block;
  margin-top: 10px;
  width: 100%;
  color: grey;
  padding: 14px 18px;
  border-radius: 8px;
  border: 1px solid var(--disappear, #b3b3b3);
}

.map-div {
  height: 340px;
  margin-top: 23px;
}

.save-button {
  margin-top: 34px;
  ion-button {
    width: 100%;
  }
}

img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 376px) {
.address-fields {
  display: block;
  margin-top: 10px;
  width: 100%;
  color: grey;
  padding: 12px 18px;
  border-radius: 8px;
  border: 1px solid var(--disappear, #b3b3b3);
}

.map-div {
  height: 340px;
  margin-top: 17px;
}

.save-button {
  margin-top: 13px;
  ion-button {
    width: 100%;
  }
}

img {
  height: 100%;
  width: 100%;
}
}

@media only screen and (max-width: 376px) {
  .address-fields {
    padding: 9px 18px;
  }
  .map-div {
    height: 215px;
    margin-top: 12px;
  }
  .save-button{
    margin-top: 13px;
  }
}

ion-content {
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    .area-container{
      ion-searchbar{
        padding: 0px !important;
      }
    }
    .input {
      ::placeholder { color: #F6D3C1; }
      display: flex;
      color:#F5ACA4;
      padding-inline-start: 15px;
      align-items: center;
      border-radius: 8px;
      border: 1px solid #F6D3C1;
      background: #fff;
      ion-select {
        --highlight-color-focused: transparent;
        --highlight-color-invalid: transparent;
        --highlight-color-valid: transparent;
      }
      ion-icon {
        color: #F5ACA4;
        font-size: 20px;
      }
      input {
        padding: 10px 0px;
        height: 40px;
        width: 100%;
        border-radius: 8px;
        border: none;
        &:focus,
        &:active {
          outline: none;
        }
      }
    }

    ion-button{
      --border-radius: 12px;
    --padding-bottom: 15px;
    --padding-top: 15px;
    }
  }
}

