<ng-container id="mobile-view">
  <app-header-with-back
    [title]="'cart'"
    [showNotificationIcon]="true"
  ></app-header-with-back>

  <ion-content *ngIf="!selectedBooking && cart.length > 0">
    <div class="orderCard" *ngFor="let booking of cart">
      <div class="detail">
        <img [src]="booking.subCategory.image" alt="" />
        <div class="categories">
          <div class="main">
            <p>{{booking.subCategory.name}}</p>
          </div>
          <div class="sub">
            <p>{{booking?.services?.length}} Services</p>
            <span
              >{{booking.billing.grandTotal | currency:'INR' : 'symbol' :
              '1.0-0'}}</span
            >
          </div>
        </div>
      </div>

      <!-- <hr class="dashed-line"> -->

      <div class="items">
        <ng-container *ngFor="let item of booking.services">
          <ul>
            <li *ngFor="let variant of item.variants">
              {{variant.name}} X <span>{{variant.quantity}}</span>
            </li>
          </ul>
        </ng-container>
      </div>
      <ion-button color="tertiary" (click)="onSelectBooking(booking);"
        >Checkout</ion-button
      >
    </div>

    <!-- <h3 class="header">You have {{cart.length}} bookings.</h3> -->
    <!-- <div class="orderCard" *ngFor="let booking of cart">
    <div class="detail">
      <img [src]="booking.subCategory.image" alt="">
      <div class="categories">
        <div class="main">
          <p>{{booking.mainCategory.name}}</p>
        </div>
        <div class="sub">
          <p>{{booking.subCategory.name}}</p>
        </div>
      </div>
    </div>

    <hr class="dashed-line">

    <ol class="items">
      <li *ngFor="let item of booking.services">
        {{item.name}}
        <ol>
          <li *ngFor="let variant of item.variants">{{variant.name}} - <span>{{variant.price | currency:'INR' : 'symbol' : '1.0-0'}}</span></li>
        </ol>
      </li>
    </ol>
    <ion-button color="dark" (click)="onSelectBooking(booking);">Checkout</ion-button>
  </div> -->
  </ion-content>

  <ion-content class="page-body" *ngIf="selectedBooking">
    <div>
      <!-- <div *ngFor="let num of numbersArray"> -->
      <ng-container
        *ngFor="let service of selectedBooking?.services;let i = index;"
      >
        <hr class="divider" />
        <!-- <p class="serviceTitle">{{service.name}}</p> -->
        <div class="order-card" *ngFor="let variant of service?.variants">
          <!-- <div class="content"> -->
          <div class="maskimage">
            <img src="{{service.image[0]}}" alt="" />
            <!-- <span class="discount"><p>10% OFF</p></span> -->
          </div>
          <div class="card-right">
            <div class="card-right-top">
              <p class="card-title">{{variant.name}}</p>
              <div class="card-image">
                <img
                  (click)="onDeleteItemFromCart(service,variant)"
                  class="delete-button"
                  src="../../../assets/images/Delete 2.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="card-right-mid">
              <p class="card-subtitle">• {{variant.actualJobDuration}} Min</p>
              <span class="spacer"></span>
              <div class="rating">
                <img
                  class="rating-btn"
                  src="../../../assets/star-outlined.svg"
                  alt="rating"
                />
                <p class="rating-text">
                  {{5}}
                  <span class="rating-user">({{14}})</span>
                </p>
              </div>
            </div>
            <div class="card-right-bottom">
              <p class="price">
                <!-- <span class="discounted-price">
                {{variant.billing.discountedPrice | currency:'INR'}}
              </span> -->
                <span class="original-price">
                  {{(variant.billing.totalPrice) | currency:'INR' : 'symbol' :
                  '1.0-0'}}
                </span>
              </p>
              <div class="stock">
                <button
                  fill="clear"
                  class="background-none"
                  [disabled]="variant.quantity <=1"
                  (click)="onDecrementCartQuantity(service,variant); variant.quantity = variant.quantity - 1"
                >
                  <ng-container *ngIf="variant.quantity <=1 else clickable">
                    <img src="../../../assets/remove.svg" alt="" />
                  </ng-container>
                  <ng-template #clickable>
                    <img src="../../../assets/remove1.svg" alt="" />
                  </ng-template>
                </button>
                <p class="item-count">{{variant.quantity}}</p>
                <button
                  class="add-btn"
                  fill="solid"
                  (click)="onIncrementCartQuantity(service,variant); variant.quantity = variant.quantity + 1"
                >
                  <img src="../../../assets/add.svg" alt="" />
                </button>
              </div>
            </div>
          </div>

          <!-- coupon and offers section     -->
        </div>
        <hr class="divider" />
        <!-- </div> -->
      </ng-container>
    </div>
    <!-- when coupon is not applied -->
    <ng-container *ngIf="couponCount >0">
      <div (click)="onOffersClick(modal2)" class="apply-coupon">
        <div class="coupon-items">
          <img src="../../../assets/images/Ticket Discount.png" alt="" />
          <span class="spacer"></span>
          <span class="apply-coupon-text">Apply Coupons</span>
        </div>
        <div class="coupon-items">
          <span class="offer-count-text">{{couponCount}} offers</span>
          <span class="spacer"></span>
          <img
            src="../../../assets/images/material-symbols_arrow-back-ios-rounded.png"
            alt=""
          />
        </div>
      </div>
    </ng-container>
    <!-- When coupon is applied -->
    <ng-container>
      <div
        class="applied-coupon"
        *ngIf="(selectedBooking.billing?.coupanDiscunt || 0) > 0"
      >
        <div class="text">
          <p class="saved-rs">
            Saved ₹{{selectedBooking.billing?.coupanDiscunt||0}}
          </p>
          <p class="coupon-applied-successfuly">Coupon applied successfully!</p>
        </div>
        <div class="line-style">
          <!-- <div class="circle-top style-circle"></div> -->
          <hr class="verti-line" />
          <!-- <div class="circle-bottom style-circle"></div> -->
        </div>
        <div class="applied-content">
          <img src="../../../assets/images/tick-circle.png" alt="" />
          <p class="applied-text">Applied!</p>
        </div>
        <div class="remove-coupon" (click)="onRemoveCoupon()">
          <ion-icon name="close"></ion-icon>
        </div>
      </div>
      <!-- <ion-button (click)="setOpen(true)">Open</ion-button> -->
      <!-- <ion-action-sheet
  [isOpen]=true
  header="Actions"
  [buttons]="actionSheetButtons"
  (didDismiss)="setOpen(false)"
></ion-action-sheet> -->
      <ion-modal [initialBreakpoint]="0.30" [isOpen]="false">
        <ng-template>
          <div class="action-sheet-header">
            <p class="action-sheet-header-text">
              Yay! You will receive up to ₹550 cashback on this order
            </p>
            <img
              class="action-sheet-header-img"
              src="../../../assets/images/discount-shape (1).png"
              alt=""
            />
          </div>
          <ion-content>
            <p class="modal-bottom-text">‘JCPaytm’ - applied succesfully</p>
            <button (click)="setOpen(false)" class="got-it-button">
              Okay, Got It
            </button>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ng-container>

    <!-- payment detail section -->
    <div class="payment-details">
      <div class="breakup-item total-duration-container">
        <p class="left-title">
          Total Duration <img src="assets/Vectorduration.png" alt="" />
        </p>
        <p class="right-sub">{{totalTimeNeeded}}</p>
      </div>

      <h6 class="payment-detials-text">Payment Details</h6>

      <div class="items">
        <ng-container *ngFor="let item of selectedBooking.services">
          <div class="row1" *ngFor="let variant of item.variants">
            <p class="col1">
              {{variant.name }} X <span>{{ variant.quantity}}</span>
            </p>
            <p style="color: #fb9f14">
              {{(variant.billing.totalPrice) | currency:'INR' : 'symbol' :
              '1.0-0'}}
            </p>
          </div>
        </ng-container>
      </div>

      <div class="breakup">
        <div class="breakup-item">
          <p class="left-title">Total (MRP)</p>
          <p class="right-sub">
            {{selectedBooking.billing.subTotal | currency:'INR'}}
          </p>
        </div>
        <div class="breakup-item">
          <p class="left-title">Item Discount</p>
          <p class="right-sub discount-off">
            -{{selectedBooking.billing.discount | currency:'INR'}}
          </p>
        </div>
        <div class="breakup-item">
          <p class="left-title">Coupon Discount</p>
          <p class="right-sub discount-off">
            -{{selectedBooking.billing?.coupanDiscunt | currency:'INR'}}
          </p>
        </div>
        <div class="breakup-item">
          <p class="left-title">Discounted Price</p>
          <p class="right-sub">
            {{((selectedBooking.billing.subTotal-selectedBooking.billing.discount)-(
            selectedBooking.billing?.coupanDiscunt || 0) )| currency:'INR'}}
          </p>
        </div>
        <div
          class="breakup-item"
          *ngFor="let charge of selectedBooking?.billing?.fixedCharges"
        >
          <p class="left-title">{{charge.name}}</p>
          <p class="right-sub">{{charge.amount | currency:'INR'}}</p>
        </div>
      </div>
      <hr class="dotted-line" />
      <div class="breakup-item">
        <p class="total-text">Total</p>
        <p class="total-text">
          {{selectedBooking.billing.grandTotal | currency:'INR'}}
        </p>
      </div>
      <div class="coupon-box" *ngIf="isCouponActive">
        <img src="../../../assets/couponTag.svg" alt="" />
        <p>Apply Coupons to save upto 70%!</p>
      </div>
    </div>

    <div class="offer-bar" *ngIf="selectedBooking.billing.discount">
      <img class="tag-image" src="../../../assets/images/tag.png" alt="" />
      <p class="tag-text">
        Yay! You have saved {{selectedBooking.billing.discount}} on final bill
      </p>
    </div>

    <div class="recommended-container" *ngIf="isRecommended">
      <h6 class="recommended-text">Recommended Add Ons</h6>
      <div class="recommended-items-box-parent">
        <ng-container *ngFor="let item of recommendedServices">
          <div class="recommended-items-box" *ngIf="item?.image[0]">
            <img
              [src]="item?.image[0]"
              alt=""
              (click)="onClickRecommendedServices(item)"
            />
            <div class="text">
              <div class="item">{{item.name}}</div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- <span  style="height: 32px; color: aqua;" ></span> -->
    <button
      class="select-address-button"
      (click)="this.dataProvider.currentBooking = selectedBooking; temp()"
    >
      Next
    </button>
  </ion-content>
  <ion-content
    class="noItems"
    *ngIf="!selectedBooking && cart?.length === 0 && cartLoaded"
  >
    <img class="empty-cart-img" src="../../../assets/images/amico.svg" alt="" />
    <span class="text-content">
      <p class="cart-empty-text">Your cart is empty</p>
      <p class="bottom-text">
        Looks like you have not added any seva to your cart yet.
      </p>
    </span>
  </ion-content>
</ng-container>

<div id="web-view" class="back-container">
  <div class="main-container">
    <ng-container>
      <ion-content *ngIf="!selectedBooking && cart.length > 0">
        <div class="orderCard" *ngFor="let booking of cart">
          <div class="detail">
            <img [src]="booking.subCategory.image" alt="" />
            <div class="categories">
              <div class="main">
                <p>{{booking.subCategory.name}}</p>
              </div>
              <div class="sub">
                <p>{{booking?.services?.length}} Services</p>
                <span
                  >{{booking.billing.grandTotal | currency:'INR' : 'symbol' :
                  '1.0-0'}}</span
                >
              </div>
            </div>
          </div>

          <!-- <hr class="dashed-line"> -->

          <div class="items">
            <ng-container *ngFor="let item of booking.services">
              <ul>
                <li *ngFor="let variant of item.variants">
                  {{variant.name}} X <span>{{variant.quantity}}</span>
                </li>
              </ul>
            </ng-container>
          </div>
          <ion-button color="tertiary" (click)="onSelectBooking(booking);"
            >Checkout</ion-button
          >
        </div>

        <!-- <h3 class="header">You have {{cart.length}} bookings.</h3> -->
        <!-- <div class="orderCard" *ngFor="let booking of cart">
        <div class="detail">
          <img [src]="booking.subCategory.image" alt="">
          <div class="categories">
            <div class="main">
              <p>{{booking.mainCategory.name}}</p>
            </div>
            <div class="sub">
              <p>{{booking.subCategory.name}}</p>
            </div>
          </div>
        </div>
    
        <hr class="dashed-line">
    
        <ol class="items">
          <li *ngFor="let item of booking.services">
            {{item.name}}
            <ol>
              <li *ngFor="let variant of item.variants">{{variant.name}} - <span>{{variant.price | currency:'INR' : 'symbol' : '1.0-0'}}</span></li>
            </ol>
          </li>
        </ol>
        <ion-button color="dark" (click)="onSelectBooking(booking);">Checkout</ion-button>
      </div> -->
      </ion-content>

      <ion-content class="page-body" *ngIf="selectedBooking">
        <div>
          <!-- <div *ngFor="let num of numbersArray"> -->
          <ng-container
            *ngFor="let service of selectedBooking?.services;let i = index;"
          >
            <hr class="divider" />
            <!-- <p class="serviceTitle">{{service.name}}</p> -->
            <div class="order-card" *ngFor="let variant of service?.variants">
              <!-- <div class="content"> -->
              <div class="maskimage">
                <img src="{{service.image[0]}}" alt="" />
                <!-- <span class="discount"><p>10% OFF</p></span> -->
              </div>
              <div class="card-right">
                <div class="card-right-top">
                  <p class="card-title">{{variant.name}}</p>
                  <div class="card-image">
                    <img
                      (click)="onDeleteItemFromCart(service,variant)"
                      class="delete-button"
                      src="../../../assets/images/Delete 2.svg"
                      alt=""
                    />
                  </div>
                </div>
                <div class="card-right-mid">
                  <p class="card-subtitle">
                    • {{variant.actualJobDuration}} Min
                  </p>
                  <span class="spacer"></span>
                  <div class="rating">
                    <img
                      class="rating-btn"
                      src="../../../assets/star-outlined.svg"
                      alt="rating"
                    />
                    <p class="rating-text">
                      {{5}}
                      <span class="rating-user">({{14}})</span>
                    </p>
                  </div>
                </div>
                <div class="card-right-bottom">
                  <p class="price">
                    <!-- <span class="discounted-price">
                    {{variant.billing.discountedPrice | currency:'INR'}}
                  </span> -->
                    <span class="original-price">
                      {{(variant.billing.totalPrice) | currency:'INR' : 'symbol'
                      : '1.0-0'}}
                    </span>
                  </p>
                  <div class="stock">
                    <button
                      fill="clear"
                      class="background-none"
                      [disabled]="variant.quantity <=1"
                      (click)="onDecrementCartQuantity(service,variant); variant.quantity = variant.quantity - 1"
                    >
                      <ng-container *ngIf="variant.quantity <=1 else clickable">
                        <img src="../../../assets/remove.svg" alt="" />
                      </ng-container>
                      <ng-template #clickable>
                        <img src="../../../assets/remove1.svg" alt="" />
                      </ng-template>
                    </button>
                    <p class="item-count">{{variant.quantity}}</p>
                    <button
                      class="add-btn"
                      fill="solid"
                      (click)="onIncrementCartQuantity(service,variant); variant.quantity = variant.quantity + 1"
                    >
                      <img src="../../../assets/add.svg" alt="" />
                    </button>
                  </div>
                </div>
              </div>

              <!-- coupon and offers section     -->
            </div>
            <hr class="divider" />
            <!-- </div> -->
          </ng-container>
        </div>
        <!-- when coupon is not applied -->
        <ng-container *ngIf="couponCount >0">
          <div (click)="onOffersClick(modal2)" class="apply-coupon">
            <div class="coupon-items">
              <img src="../../../assets/images/Ticket Discount.png" alt="" />
              <span class="spacer"></span>
              <span class="apply-coupon-text">Apply Coupons</span>
            </div>
            <div class="coupon-items">
              <span class="offer-count-text">{{couponCount}} offers</span>
              <span class="spacer"></span>
              <img
                src="../../../assets/images/material-symbols_arrow-back-ios-rounded.png"
                alt=""
              />
            </div>
          </div>
        </ng-container>
        <!-- When coupon is applied -->
        <ng-container>
          <div
            class="applied-coupon"
            *ngIf="(selectedBooking.billing?.coupanDiscunt || 0) > 0"
          >
            <div class="text">
              <p class="saved-rs">
                Saved ₹{{selectedBooking.billing?.coupanDiscunt||0}}
              </p>
              <p class="coupon-applied-successfuly">
                Coupon applied successfully!
              </p>
            </div>
            <div class="line-style">
              <!-- <div class="circle-top style-circle"></div> -->
              <hr class="verti-line" />
              <!-- <div class="circle-bottom style-circle"></div> -->
            </div>
            <div class="applied-content">
              <img src="../../../assets/images/tick-circle.png" alt="" />
              <p class="applied-text">Applied!</p>
            </div>
            <div class="remove-coupon" (click)="onRemoveCoupon()">
              <ion-icon name="close"></ion-icon>
            </div>
          </div>
          <!-- <ion-button (click)="setOpen(true)">Open</ion-button> -->
          <!-- <ion-action-sheet
      [isOpen]=true
      header="Actions"
      [buttons]="actionSheetButtons"
      (didDismiss)="setOpen(false)"
    ></ion-action-sheet> -->
          <ion-modal [initialBreakpoint]="0.30" [isOpen]="false">
            <ng-template>
              <div class="action-sheet-header">
                <p class="action-sheet-header-text">
                  Yay! You will receive up to ₹550 cashback on this order
                </p>
                <img
                  class="action-sheet-header-img"
                  src="../../../assets/images/discount-shape (1).png"
                  alt=""
                />
              </div>
              <ion-content>
                <p class="modal-bottom-text">‘JCPaytm’ - applied succesfully</p>
                <button (click)="setOpen(false)" class="got-it-button">
                  Okay, Got It
                </button>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ng-container>

        <!-- payment detail section -->
        <div class="payment-details">
          <div class="breakup-item total-duration-container">
            <p class="left-title">
              Total Duration <img src="assets/Vectorduration.png" alt="" />
            </p>
            <p class="right-sub">{{totalTimeNeeded}}</p>
          </div>

          <h6 class="payment-detials-text">Payment Details</h6>

          <div class="items">
            <ng-container *ngFor="let item of selectedBooking.services">
              <div class="row1" *ngFor="let variant of item.variants">
                <p class="col1">
                  {{variant.name }} X <span>{{ variant.quantity}}</span>
                </p>
                <p style="color: #fb9f14">
                  {{(variant.billing.totalPrice) | currency:'INR' : 'symbol' :
                  '1.0-0'}}
                </p>
              </div>
            </ng-container>
          </div>

          <div class="breakup">
            <div class="breakup-item">
              <p class="left-title">Total (MRP)</p>
              <p class="right-sub">
                {{selectedBooking.billing.subTotal | currency:'INR'}}
              </p>
            </div>
            <div class="breakup-item">
              <p class="left-title">Item Discount</p>
              <p class="right-sub discount-off">
                -{{selectedBooking.billing.discount | currency:'INR'}}
              </p>
            </div>
            <div class="breakup-item">
              <p class="left-title">Coupon Discount</p>
              <p class="right-sub discount-off">
                -{{selectedBooking.billing?.coupanDiscunt | currency:'INR'}}
              </p>
            </div>
            <div class="breakup-item">
              <p class="left-title">Discounted Price</p>
              <p class="right-sub">
                {{((selectedBooking.billing.subTotal-selectedBooking.billing.discount)-(
                selectedBooking.billing?.coupanDiscunt || 0) )| currency:'INR'}}
              </p>
            </div>
            <div
              class="breakup-item"
              *ngFor="let charge of selectedBooking?.billing?.fixedCharges"
            >
              <p class="left-title">{{charge.name}}</p>
              <p class="right-sub">{{charge.amount | currency:'INR'}}</p>
            </div>
          </div>
          <hr class="dotted-line" />
          <div class="breakup-item">
            <p class="total-text">Total</p>
            <p class="total-text">
              {{selectedBooking.billing.grandTotal | currency:'INR'}}
            </p>
          </div>
          <div class="coupon-box" *ngIf="isCouponActive">
            <img src="../../../assets/couponTag.svg" alt="" />
            <p>Apply Coupons to save upto 70%!</p>
          </div>
        </div>

        <div class="offer-bar" *ngIf="selectedBooking.billing.discount">
          <img class="tag-image" src="../../../assets/images/tag.png" alt="" />
          <p class="tag-text">
            Yay! You have saved {{selectedBooking.billing.discount}} on final
            bill
          </p>
        </div>

        <div class="recommended-container" *ngIf="isRecommended">
          <h6 class="recommended-text">Recommended Add Ons</h6>
          <div class="recommended-items-box-parent">
            <ng-container *ngFor="let item of recommendedServices">
              <div class="recommended-items-box" *ngIf="item?.image[0]">
                <img
                  [src]="item?.image[0]"
                  alt=""
                  (click)="onClickRecommendedServices(item)"
                />
                <div class="text">
                  <div class="item">{{item.name}}</div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <!-- <span  style="height: 32px; color: aqua;" ></span> -->
        <button
          class="select-address-button"
          (click)="this.dataProvider.currentBooking = selectedBooking; temp()"
        >
          Next
        </button>
      </ion-content>
      <ion-content
        class="noItems"
        *ngIf="!selectedBooking && cart?.length === 0 && cartLoaded"
      >
        <img
          class="empty-cart-img"
          src="../../../assets/images/amico.svg"
          alt=""
        />
        <span class="text-content">
          <p class="cart-empty-text">Your cart is empty</p>
          <p class="bottom-text">
            Looks like you have not added any seva to your cart yet.
          </p>
        </span>
      </ion-content>
    </ng-container>
  </div>
</div>

<ion-modal
  #modal2
  trigger="open-modal"
  [isOpen]="isOpenPopu"
  [keyboardClose]="false"
  [showBackdrop]="false"
  [initialBreakpoint]="0.3"
  [breakpoints]="[0.3, 0.3, 0.3,0.3]"
>
  <ng-template>
    <ion-content>
      <div class="row" style="margin: 30px 10px">
        <div class="col-9">
          <h6>
            Yay! You will receive up to ₹{{ selectedCoupan.type === 'flat' ||
            selectedCoupan.type === "fixed"?selectedCoupan.value + " "+
            selectedCoupan.type : selectedCoupan.value + ' %'}} cashback on this
            order
          </h6>
        </div>
        <div class="col-3">
          <img src="assets/discount-shapecoupan.png" alt="" />
        </div>
        <div class="col-9">
          <p class="par-info">
            ‘{{selectedCoupan.code}}’ - applied succesfully
          </p>
        </div>
      </div>
      <button class="select-address-button" (click)="modal2.dismiss()">
        Okay, Got it
      </button>
    </ion-content>
  </ng-template>
</ion-modal>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
