<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <img src="../../../assets/images/back-button.png" alt="" />
    </ion-buttons>
    <ion-title>Cart</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <img src="../../../assets/images/bell.svg" alt="" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="spacer"></div>
  <img class="empty-cart-img" src="../../../assets/images/amico.svg" alt="" />
  <span class="text-content">
    <p class="cart-empty-text">Your cart is empty</p>
    <p class="bottom-text">
      Looks like you have not added any services to your cart yet.
    </p>
  </span>
</ion-content>
