
ion-content {
    $secondaryTextColor: #FB9F14;
    $primaryBackgroundColor: black;
    font-family: 'Lato', sans-serif;;
    --padding-top: -6px;

    #search {
        display: inline-flex;
        padding: 9px 13px;
        padding-right: 9px;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        border: 1px solid #BEBEBE;
        background: #FFF;
        /* Drop Shadow */
        box-shadow: 0px 2px 6px 1px rgba(22, 22, 22, 0.10);
        width: 100%;
        height: 50px;

        // p{
        //     color: $secondaryTextColor;
        // }
        input {
            border: none;
            outline: none;
            width: 100%;
            height: 100%;
            font-size: 16px;
            color: $secondaryTextColor;
        }

        span {
            background-color: $primaryBackgroundColor;
            border-radius: 8px;
            color: white;
            width: 40px;
            height: 32px;
            display: grid;
            place-items: center;
        }
    }

    #previousSearches {
        margin-top: 20px;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            p{
                color:#FB9F14;
            }
        
        }
    

        hr {
            height: 0px;
            border: 1px solid #E5E5E5;
        }

        .items {
            .item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 10px;


            }

            &.overflow {
                max-height: 100px;
                overflow-y: auto;
            }
        }
    }

    ion-list {
        .notFound {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            h3{
               color: #FB9F14;
            }
            p{
               color:  #FB9F14;
            }
        }
    }
}
.item-img{
    width: 82px;
    height: 90px;
    margin-bottom: 5px;
    // margin-right: 8px;
}
.search-image{
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 10px;
}
.searchresult-name {
    margin-top: -50px;
    margin-left: 10px;
    color: var(--primary, #181F29);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.28px;
    color: var(--primary, #181F29);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.28px;
}
.searchresult-price{
color: #579540;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
ion-thumbnail{
    width: 100px !important;
    height: 100px !important;
    img{
        border-radius: 10px;
    }
}
ion-label{
    li{
        text-wrap: balance;
        font-size: 12px;
    }
    ion-icon{
        margin-right: 10px;
        color: #181F29;
    }
}
.clear{
    font-size: large;
    border-style: hidden;
    background-color: #FFF;
    margin-top: -10px;

}
.clear:hover{
    color: #FB9F14;
}
.rating {
    font-size: small;
    line-height: 16.8px;
    display: flex;
    align-items: center;
    ion-icon{
        color: #666666;
        margin-right: 5px;
    }
    strong{
        color: #666666;
        font-weight: 700;
        font-size: 12px;
    }
}

.service-price{
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;

    .service-price-col-1{
        margin-bottom: 4px;
        color:#FB9F14;
    }
    .price{
        font-size: 14px;
        color: #579540;
        font-weight: 700;
    }
    
}
// .details{
//     font-size: 12px;
//     font-weight: 400;
//     line-height: 14px;
//     display: flex;
//     align-items: center;
//     strong{
//         font-size: 12px;
//         font-weight: 400;
//         line-height: 14px;
//         display: flex;
//         align-items: center;
//         margin-left: 5px;
//     }
    
// }

.details {
    margin-bottom: 2px;
    .description {
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      display: flex;
      width: 76%;
      // align-items: center;
  
      strong {
        display: flex;
        align-items: center;
        margin-left: 5px;
        color: #222;
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px; /* 116.667% */
        letter-spacing: -0.24px;
      }
    }
  }
.grird-margin-top{
    margin-top: -6px;
    margin: 0;
    width: 100%;
    overflow: hidden;
    padding: 0;

    .service-price{
        .price{
            display: flex;
            justify-content: center;
        }
    }

    .desc{
        padding-left: 12px;
    }

    .col-1{
        padding: 0;
    }
}

.search-box{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 32px;
}
.search-item{
    margin-bottom: 5px;
    max-height: 266px;
    height: 100px;
    min-height: 100px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}