.main{
  height: 100%;
  background-color: white;
}

.container {
  position: fixed;
  top: 100px;
  overflow: scroll;
  max-width: 100%;
  .profile-pic {
    margin: 33px 0 50px;
    .img {
      width: 100px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      border: 3px solid #f9f9f9;
      border-radius: 40px;
      box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    }
    .circle {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: -35px;
      padding-left: 57px;
      cursor: pointer;
    }
    .camera-icon {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-left: 57px;
      margin-top: -25px;
      cursor: pointer;
    }
  }
  .title {
    h6 {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 50px;
    }
  }
}

.inputs {
  --border-color: #b3b3b3;
  --highlight-color-focused: #b3b3b3;
  color: #F5ACA4;
  --border-width: 0.5px;
  // margin-bottom: 10px;
  --placeholder-color: #4f4f4f;
  width: 100%;
  margin-bottom: 18px;
  --border-radius: 12px;
  p {
    position: absolute;
    float: right;
    right: 15px;
    bottom: 0px;
    color: var(--primary, #181f29);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }
}
.buttons {
  display: flex;
  margin-top: 120px;
  justify-content: center;
  gap: 20px;
  .cancel {
    display: flex;
    border-radius: 12px;
    border: 1px solid var(--primary, #181f29);
    background: var(--secondary, #fff);
    display: flex;
    width: 158px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 2px 6px 1px rgba(22, 22, 22, 0.1);
    color: #181f29;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.18px;
  }
  .save {
    display: flex;
    width: 100%;
    padding: 12px 49px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: var(--primary, #F5ACA4);
    box-shadow: 0px 2px 6px 1px rgba(22, 22, 22, 0.1);
    color: var(--neutral-01, #fcfcfc);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.18px;
  }
}

// Ion-item class
:host(.gender-input) .item-native {
  margin: -5px !important;
}
.gender-input {
  width: 100%;
  max-height: 65px;
  display: block;
  --border-color: #b3b3b3;
  --highlight-color-focused: #b3b3b3;
  --placeholder-color: #4f4f4f;
  --color:red;
}

ion-item::part(native) {
  border-radius: 12px;
}
.gender-input-box {
  --padding-top: 1px !important;
  --padding-bottom: 5px !important;
  --border-radius: 12px;
  
}
// Label
.gender-input ion-label {
  font-size: 14px;
  margin-top: -5px;
}



// Down arrow icon
.gender-input ion-icon {
  font-size: 20px;


}
.main .container h3 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.main .container p {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

ion-datetime-button {
  justify-content: flex-start;
}

@media only screen and (max-width: 376px) {
  .container {
    // background-color: #181f29;
    top: 62px;
    .buttons {
      margin-top: 53px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    // background-color: #181f29;
    top: 54px;
    .buttons {
      margin-top: 33px;
    }
  }
}

.outer {
  width: 100% !important;
  height: 100% !important;
  max-width: 106px !important; /* any size */
  max-height: 106px !important; /* any size */
  margin: auto;
  border-radius: 100%;
  background:#e6e7e8;
  position: relative;
  background-size: 106px 106px;
}
.inner {
  background-color: #fff;
  width: 43px;
  height: 43px;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.camera-icon {
  height: 30px;
  width: 30px;
  color: black;
}
.container1{
  width: 106px;
  height: 106px;
  display: block;
  margin: 0 auto;

}
.profile-pic {
  width: 150px;
  height: 150px;
}

.dummy-profile-pic{
  border: 2px solid #e2e2e2;
  background-size: 90% 90%;
  background-position: 50% 50%;
}
