<app-header1 [name]="name"></app-header1>

<ion-content>
  <div id="mobile-view" class="container">
    <div class="center-container">
      <div class="top">
        <img src="assets/images/logo.svg" alt="" />
      </div>

      <div class="middle">
        <p id="head">Rate MadhavSeva App</p>
        <p id="body">Your feedback will help us to make improvements</p>
        <app-rate
          (starEvent)="getStars($event)"
          [isSelected]="isSelected"
        ></app-rate>
      </div>

      <div class="bottom">
        <ion-button color="light" routerLink="../home">
          No, Thanks
        </ion-button>
        <ion-button
          style="--background: #fb9f14; --background-activated: #fb9f14"
          routerLink="../home"
        >
          Rate on Play Store
        </ion-button>
      </div>
    </div>
  </div>

  <div id="web-view" class="back-container">
    <div class="main-container">
      <div class="container">
        <div class="center-container">
          <div class="top">
            <img src="assets/images/logo.svg" alt="" />
          </div>

          <div class="middle">
            <p id="head">Rate Madhav Seva App</p>
            <p id="body">Your feedback will help us to make improvements</p>
            <app-rate
              (starEvent)="getStars($event)"
              [isSelected]="isSelected"
            ></app-rate>
          </div>

          <div class="bottom">
            <ion-button color="light" routerLink="../home">
              No, Thanks
            </ion-button>
            <ion-button
              style="--background: #fb9f14; --background-activated: #fb9f14"
              routerLink="../home"
            >
              Rate on Play Store
            </ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
