p{
    margin: 0px;
}

ion-content {
    font-family: Lato;
    .container {
        display: grid;
        justify-content: center;
        height: -webkit-fill-available;
        align-content: center;

        .center-container {
            display: inline-flex;
            padding: 30px 20px;
            flex-direction: column;
            align-items: center;
            gap: 32px;
        }

        .middle{
            text-align: center;
            #head{
                color: #589441; 
                font-size: 20px; 
                font-weight: 700; 
            }
            #body{
                color:  #094A28;
                font-size: 18px;
                font-weight: 500;
                line-height: 132%;
                margin-top: 6px;
                
            }

            
        }



        .bottom{
            display: flex;
            gap: 12px;

            ion-button{
                --border-radius:10px;
            }
        }
    }

}