<app-header1 [name]="name"></app-header1>

<ion-content>
  <div class="container">
    <div class="center-container">
      <div class="top">
        <img src="assets/images/logo.svg" alt="">
      </div>

      <div class="middle">
        <p id="head">Rate MadhavSeva App</p>
        <p id="body">Your feedback will help us to make improvements</p>
        <app-rate (starEvent)="getStars($event)" [isSelected]="isSelected"></app-rate>
      </div>


      <div class="bottom">
        <ion-button color="light"  routerLink="../home">
          No, Thanks
        </ion-button>
        <ion-button style="--background:#FB9F14;--background-activated: #FB9F14;" routerLink="../home">
          Rate on Play Store
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>