<ion-content [fullscreen]="true">
  <app-header-with-back
    id="web-view"
    [title]="this.dataProvider.currentUser?.userData?.name"
    [showNotificationIcon]="false"
  ></app-header-with-back>

  <ion-card id="mobile-view">
    <!-- Profile -->
    <img
      src="https://api.dicebear.com/6.x/initials/svg?seed"
      class="profile-pic"
      *ngIf="this.dataProvider.currentUser?.userData?.photoUrl === undefined"
    />
    <img
      src="{{this.dataProvider.currentUser?.userData?.photoUrl}}"
      class="profile-pic"
      *ngIf="this.dataProvider.currentUser?.userData?.photoUrl !== undefined"
    />

    <h4 style="text-align: center; color: #fff">
      {{this.dataProvider.currentUser?.userData?.name}}
    </h4>
  </ion-card>

  <div id="mobile-view" class="nav">
    <!-- Navigating buttons -->
    <ion-button
      expand="block"
      fill="clear"
      type="outline"
      class="side-buttons"
      routerLink="profile-info"
    >
      <div class="w-100 d-flex align-items-center">
        <img
          style="padding: auto"
          class="icons"
          src="../../assets/User_2.svg"
          alt=""
        />
        <p>Edit Profile</p>
      </div>
    </ion-button>
    <ion-button
      expand="block"
      fill="clear"
      class="side-buttons"
      routerLink="../booking/upcoming-history"
    >
      <div class="w-100 d-flex align-items-center">
        <img
          style="padding: auto"
          class="icons"
          src="../../assets/Door to Door Delivery.svg"
          alt=""
        />
        <p>My Bookings</p>
      </div>
    </ion-button>
    <ion-button
      expand="block"
      fill="clear"
      class="side-buttons"
      routerLink="../select-address"
    >
      <div class="w-100 d-flex align-items-center">
        <img
          style="padding: auto"
          class="icons"
          src="../../assets/location.svg"
          alt=""
        />
        <p>Address Book</p>
      </div>
    </ion-button>
    <ion-button
      expand="block"
      fill="clear"
      class="side-buttons"
      routerLink="../notification"
    >
      <div class="w-100 d-flex align-items-center">
        <img
          style="padding: auto"
          class="icons"
          src="../../assets/Group 1000002396.svg"
          alt=""
        />
        <p>Notifications</p>
      </div>
    </ion-button>

    <a style="text-decoration: none" target="_blank" href="https://shreeva.com">
      <ion-button expand="block" fill="clear" class="side-buttons">
        <div class="w-100 d-flex align-items-center">
          <img
            style="padding: auto"
            class="icons"
            src="../../assets/info-circle.svg"
            alt=""
          />
          <p>About</p>
        </div>
      </ion-button>
    </a>

    <ion-button
      expand="block"
      fill="clear"
      class="side-buttons"
      routerLink="../refer-afriend"
    >
      <div class="w-100 d-flex align-items-center">
        <img
          style="padding: auto"
          class="icons"
          src="../../assets/profile-2user.svg"
          alt=""
        />
        <p>Invite Friend</p>
      </div>
    </ion-button>
    <ng-container *ngIf="isFaq">
      <ion-button
        expand="block"
        fill="clear"
        class="side-buttons"
        routerLink="../faq"
      >
        <div class="w-100 d-flex align-items-center">
          <img
            style="padding: auto"
            class="icons"
            src="../../assets/help-outline.svg"
            alt=""
          />
          <p>Help & FAQ</p>
        </div>
      </ion-button>
    </ng-container>
    <ion-button
      expand="block"
      fill="clear"
      class="side-buttons"
      routerLink="../contact-us"
    >
      <div class="w-100 d-flex align-items-center">
        <img
          style="padding: auto"
          class="icons"
          src="../../assets/Call(1).svg"
          alt=""
        />
        <p>Contact Us</p>
      </div>
    </ion-button>
    <ion-button
      expand="block"
      fill="clear"
      class="side-buttons"
      id="open-modal-logout"
    >
      <div class="w-100 d-flex align-items-center">
        <img
          style="padding: auto"
          class="icons"
          src="../../assets/logout.svg"
          alt=""
          style="width: 25px; margin-left: 20px"
        />
        <p>Logout</p>
      </div>
    </ion-button>

    <a style="text-decoration: none" href="https://shreeva.in/" target="_blank">
      <ion-button expand="block" fill="clear" class="side-buttons">
        <div class="w-100 d-flex align-items-center shreeva">
          <!-- <a href="https://shreeva.in/" target="_blank"> -->
          <img
            style="padding: auto"
            class="icons"
            src="../../../assets/images/shreevaIcon.png"
            alt=""
          />
          <p>Powered By Shreeva</p>
          <!-- </a> -->
        </div>
      </ion-button>
    </a>
  </div>

  <div id="web-view" class="back-container">
    <div class="main-container profile-layout">
      <div class="img-avatar">
        <div>
          <img
            src="https://api.dicebear.com/6.x/initials/svg?seed"
            class="profile-pic"
            *ngIf="this.dataProvider.currentUser?.userData?.photoUrl === undefined"
          />
          <img
            src="{{this.dataProvider.currentUser?.userData?.photoUrl}}"
            class="profile-pic"
            *ngIf="this.dataProvider.currentUser?.userData?.photoUrl !== undefined"
          />

          <h4 style="text-align: center; color: #fff">
            {{this.dataProvider.currentUser?.userData?.name}}
          </h4>
        </div>
      </div>

      <div class="nav-web">
        <!-- Navigating buttons -->
        <ion-button
          expand="block"
          fill="clear"
          type="outline"
          class="side-buttons"
          routerLink="profile-info"
        >
          <div class="w-100 d-flex align-items-center">
            <img
              style="padding: auto"
              class="icons"
              src="../../assets/User_2.svg"
              alt=""
            />
            <p>Edit Profile</p>
          </div>
        </ion-button>

        <ion-button
          expand="block"
          fill="clear"
          class="side-buttons"
          routerLink="../booking/upcoming-history"
        >
          <div
            (click)="openUpcomingBooking"
            class="w-100 d-flex align-items-center"
          >
            <img
              style="padding: auto"
              class="icons"
              src="../../assets/Door to Door Delivery.svg"
              alt=""
            />
            <p>My Bookings</p>
          </div>
        </ion-button>
        <ion-button
          expand="block"
          fill="clear"
          class="side-buttons"
          routerLink="../select-address"
        >
          <div class="w-100 d-flex align-items-center">
            <img
              style="padding: auto"
              class="icons"
              src="../../assets/location.svg"
              alt=""
            />
            <p>Address Book</p>
          </div>
        </ion-button>
        <ion-button
          expand="block"
          fill="clear"
          class="side-buttons"
          routerLink="../notification"
        >
          <div class="w-100 d-flex align-items-center">
            <img
              style="padding: auto"
              class="icons"
              src="../../assets/Group 1000002396.svg"
              alt=""
            />
            <p>Notifications</p>
          </div>
        </ion-button>

        <a
          style="text-decoration: none"
          target="_blank"
          href="https://jaipurservicecompany.com"
        >
          <ion-button expand="block" fill="clear" class="side-buttons">
            <div class="w-100 d-flex align-items-center">
              <img
                style="padding: auto"
                class="icons"
                src="../../assets/info-circle.svg"
                alt=""
              />
              <p>About</p>
            </div>
          </ion-button>
        </a>

        <ion-button
          expand="block"
          fill="clear"
          class="side-buttons"
          routerLink="../refer-afriend"
        >
          <div class="w-100 d-flex align-items-center">
            <img
              style="padding: auto"
              class="icons"
              src="../../assets/profile-2user.svg"
              alt=""
            />
            <p>Invite Friend</p>
          </div>
        </ion-button>
        <ng-container *ngIf="isFaq">
          <ion-button
            expand="block"
            fill="clear"
            class="side-buttons"
            routerLink="../faq"
          >
            <div class="w-100 d-flex align-items-center">
              <img
                style="padding: auto"
                class="icons"
                src="../../assets/help-outline.svg"
                alt=""
              />
              <p>Help & FAQ</p>
            </div>
          </ion-button>
        </ng-container>
        <ion-button
          expand="block"
          fill="clear"
          class="side-buttons"
          routerLink="../contact-us"
        >
          <div class="w-100 d-flex align-items-center">
            <img
              style="padding: auto"
              class="icons"
              src="../../assets/Call(1).svg"
              alt=""
            />
            <p>Contact Us</p>
          </div>
        </ion-button>
        <ion-button
          expand="block"
          fill="clear"
          class="side-buttons"
          (click)="signoutUser=!signoutUser"
        >
          <div class="w-100 d-flex align-items-center">
            <img
              style="padding: auto"
              class="icons"
              src="../../assets/logout.svg"
              alt=""
              style="width: 25px"
            />
            <p>Sign out</p>
          </div>
        </ion-button>

        <a
          style="text-decoration: none"
          href="https://shreeva.in/"
          target="_blank"
        >
          <ion-button expand="block" fill="clear" class="side-buttons">
            <div class="w-100 d-flex align-items-center shreeva">
              <!-- <a href="https://shreeva.in/" target="_blank"> -->
              <img
                style="padding: auto"
                class="icons"
                src="../../../assets/images/shreevaIcon.png"
                alt=""
              />
              <p>Powered By Shreeva</p>
              <!-- </a> -->
            </div>
          </ion-button>
        </a>
      </div>
    </div>
  </div>

  <ion-modal
    [isOpen]="signoutUser"
    trigger="open-modal-logout"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]"
  >
    <ng-template>
      <ion-card-title class="logout-title">Logout</ion-card-title>

      <ion-card-subtitle class="subtitle"
        >Are you sure want to Logout ?</ion-card-subtitle
      >
      <div style="display: flex; margin: auto; padding: 20px">
        <ion-button class="cancel-btn" fill="clear" (click)="closeModal()"
          >Cancel</ion-button
        >
        <ion-button class="logout-btn" (click)="logout()" fill="clear"
          >Yes , Logout
        </ion-button>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
