* {
  font-family: "Lato";
}

ion-content {
  --ion-background-color: #fff;
}

ion-card {
  background:#589441;
  padding-top: 50px;
  overflow-y: scroll;
  box-shadow: none;
  padding-bottom: 10px;
  border-end-end-radius: 20px;
  border-end-start-radius: 20px;
  margin: 0 !important;
  padding: 5px !important;
}

#open-modal-logout {
  width: 150px;
  height: 40px;
  border-radius: 30px;
  padding-bottom: 2px;
  line-height: normal;
  text-transform: none;
  // position: absolute;
  top: 5px;
  left: 2px;
  margin-top: 10px;
  margin-left: -15px;
  font-size: 16px;
  // color: #fff;
  letter-spacing: 1px;
}

.signout-icon {
  color: #fff;
  margin-right: 10px;
  transform: rotate(180deg);
  height: 20px;
}

.close-btn {
  position: absolute;
  top: 11px;
  right: 0px;
  color: #fff;
  font-size: medium;
}

.signout-btn {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-transform: none;
  position: absolute;
  top: 5px;
  left: 2px;
  height: 20%;
}

.profile-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 76px;
  height: 76px;
  border-radius: 50%;
}

.block {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: list-item;
  float: left;
  width: 100%;
  margin-top: 30px;

  .side-buttons {
    height: 50px;
  }

  .icons {
    display: flex;
  }

  p {
    display: flex;

    color: var(--primary, #094A28);
    font-feature-settings: "clig" off, "liga" off; 
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 114.286% */
    text-transform: none;
    margin-bottom: 0px;
    margin-left: 10px;
  }
}

ion-modal {
  --height: auto;
  --border-radius: 20px 20px 20px 20px;

  .logout-title {
    font-size: 30px;
    color: #f75555;
    text-align: center;
    margin-top: 20px;
  }

  .subtitle {
    text-align: center;
    margin-top: 10px;
    color:#589441 ;
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    margin-bottom: 20px;
  }

  .cancel-btn {
    border: 1px solid var(--primary, #589441);

    color: #589441;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 5px;
    letter-spacing: 1px;
    border-radius: 10px;
    margin: auto;

    height: 45px;
    width: 135px;
    text-transform: none;
    display: inline-block;
  }

  .logout-btn {
    border: 1px solid var(--primary, #589441);
    font-style: normal;
    background:#589441;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 5px;
    letter-spacing: 1px;
    border-radius: 10px;
    margin: auto;
    margin-left: 20px;
    height: 45px;
    width: 135px;
    text-transform: none;
    display: inline-block;
  }
}

.shreeva {
  // a{
  text-decoration: none;
  display: flex;
  img {
    margin-left: -6px;
  }
  p {
    margin-left: 0px;
    margin-top: 6px;
    color: #094A28;
  }
  // }
}
.footer {
  display: flex;
  justify-content: space-between;

  .footer-ion-tab-button {
    max-width: 90px !important;
    padding: 6px 0px;
  }
}
