.header-md{
    margin-bottom: 11px;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 0%), 0 4px 5px 0 rgba(0, 0, 0, 0.0), 0 1px 10px 0 rgb(0 0 0 / 0%);
}

.title{
    color: #FB9F14;
    font-weight: 600;
    padding: 0px;
}
.title.noBackButton{
    padding: 0px 15px;
}