.example-spacer {
  flex: 1 1 auto;
}

.button1 {
  width: 90%;
}

ion-toolbar{
  position: fixed;
  top: 0px;
  width: 124px;
  right: 0px;
  padding-right: 2px;
  padding-left: 0px;
}

ion-button {
  height: 48px;
  font-size: 14px;
}

.new-add-button {
  display: flex;
  float: right;
  border: 1px solid #094A28;
  padding: 5px 8px;
  border-radius: 23px;
  button {
    display: flex;
    background: transparent;
    color: var(--tertiary, #094A28);
    font-weight: 600;
    cursor: pointer;

    span {
      margin-right: 5px;
    }
  }
}

.main-container {
  padding: 0 14px 14px;
  // .address-head {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;

  //   h2 {
  //     margin: 0;
  //     font-size: 20px;
  //     font-weight: 600;
  //   }
  // }

  .address-det-div {
    margin-top: 7px;
    .address-box {
      border-radius: 12px;
      border: 1px solid var(--Line, #579540);
      background: #fff;
      padding: 10px;
      box-shadow: -1px 4px 10px -4px rgba(22, 22, 22, 0.08);
      margin-bottom: 12px;

      .add-cont {
        display: grid;
        grid-template-columns: 10% 70% 20%;

        .input-div {
          display: flex;
          cursor: pointer;
          input[type="radio"] {
            accent-color:#579540;
            
          }
        }

        .address-details {
          h2 {
            font-size: 14px;
            font-weight: 700;
            margin: 7px 0;
            color:#579540;
          }

          p {
            font-size: 12px;
            font-weight: 400;
            margin: 1px 0;
            color:#589441;

          }
        }

        .edit-delete-address {
          padding-left: 14px;

          img {
            margin-right: 7px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
