<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="onDismissModal()">
        <ion-icon slot="icon-only" name="arrow-back" color="tertiary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="coupon-title">Coupons</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button>
        <img src="../../../assets/images/bell.svg" alt="" />
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content id="coupans">
  <div class="input-bar">
    <ion-item lines="none" class="coupon-input">
      <ion-input type="text" placeholder="Enter Coupon Code" class="coupon-text" [(ngModel)]="searchValue"></ion-input>
      <ion-text slot="end" class="coupon-button" (click)="searchcoupons()">Apply</ion-text>
    </ion-item>
  </div>
  <!-- <div *ngFor="let service Of  this.booking?.services"> -->
    <!-- <h2 *ngIf="hasApplicableDiscounts" class="heading-name" style="margin-left: 20px;">{{service.name}}</h2> -->
    <ng-container *ngFor="let discount of discountList">
      <ng-container *ngIf="(discount.type == 'flat' && discount?.value <= subTotal) || (discount.type != 'flat')">
        <div class="coupon-card">
          <div class="coupon-card-offer">
            <div class="coupon-content">
              <div class="coupon-img">
                  <img src="../../../assets/images/discount-shape.png" alt="">
              </div>
              <div class="coupon-text">
                <ion-text class="card-name-text">{{ discount.type == 'flat' || discount.type == "fixed"?discount.value + " "+ discount.type  : discount.value +  ' %'}} off on {{discount.name}}</ion-text>
                <ion-text class="min-order-text">Min. Order: ₹{{discount.minimumRequiredAmount}}</ion-text>
                <ion-text class="discount-text">SAVE {{discount.type == 'flat' ? (discount?.value | currency:'INR') : (discount?.value * subTotal / 100) | currency:'INR' }} ON THIS ORDER</ion-text>
                <ion-text class="minimum-required" *ngIf="discount.minimumRequiredAmount && discount.minimumRequiredAmount > subTotal">
                  Add ₹{{discount?.minimumRequiredAmount - subTotal}} more to get ₹{{discount?.value}} OFF
                </ion-text>
              </div>
              
            </div>
            <p *ngIf="!getIsApplied(discount) && !(discount.minimumRequiredAmount && discount.minimumRequiredAmount > subTotal)" (click)="onApplyClick(this.booking?.id,discount)" class="apply-button" id="{{discount.code}}" >Apply</p>
            <p *ngIf="getIsApplied(discount)" (click)="onRemoveClick(this.booking?.id,discount)" class="remove-button" id="{{discount.id}}" >remove</p>
          </div>
          
          <!-- <div class="minimum-required" *ngIf="discount.minimumRequiredAmount && discount.minimumRequiredAmount > subTotal">
            Add ₹{{discount?.minimumRequiredAmount - subTotal}} more to get ₹{{discount?.value}} OFF
          </div> -->
        </div>
      </ng-container>
      
    </ng-container>
  <!-- </div> -->
  <button style="margin-top: 20px;" class="select-address-button" (click)="onDismissModal()">Done</button>
</ion-content>
