* {
  margin: 0;
  box-sizing: border-box;
  font-family: lato;
}
.email-main-container{
  margin-bottom: 50px !important;
}
.edit-contact {
  padding: 20px 10px 10px;
  header {
    margin-bottom: 2rem;
  }

  .heading {
    font-size: 20px;
    font-weight: 600;
    color: #1a1d1f;
  }

  .contact {
    .heading-section {
      margin-bottom: 15px;
    }

    img {
      width: 20px;
      height: 20px;
    }
    .img1 {
      img {
        width: 28px;
        height: 26px;
      }
    }

    .name {
      font-size: 16px;
      font-weight: 500;
      color: #6e6e6e;
      margin-left: 10px;
    }

    .no {
      a {
        font-size: 14px;
        width: 48%;
        border-radius: 8px;
        border: 1px solid var(--primary, #FB9F14);
        background: var(--SECONDARY, #fff);
        padding: 10px;
        text-decoration: none;

        p{
          color:#FB9F14;
        }
      }
    }
  }
}
.text-ellipsis{
  width: 100%;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

.border {
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #FFEBCB;
  background: #fff;
  box-shadow: -1px 4px 10px -4px rgba(22, 22, 22, 0.08);
  margin-bottom: 15px;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  min-height: 335px;
  background: url("../../../assets/icon/contactUs/contactusFooter.svg");
  background-size: contain;
  width: 100%;
  background-position: 0px 20px;
  background-repeat: no-repeat;
  .youtube {
    position: relative;

    .yt-img {
      position: absolute;
      /* margin: 1px; */
      
      left: 8px;
      top: 0px;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 245px;
  img {
    width: 100%;
    bottom: 0;
    height: 100%;
    margin-left: -8px;
  }
}
