* {
  font-family: "Lato";
}

ion-toolbar {
  width: 100%;

  ion-title {
    display: flex;
    justify-content: space-between;

    img {
      float: inline-end;
      cursor: pointer;
    }
  }
}

ion-content {
  text-align: center;
  background: linear-gradient(165deg, #FFF 1.89%, #FEFAF7 32.57%, #FAE8DE 82.07%,  #094A28 101.44%);

  h1 {
    margin-top: 100px;
    color: var(--primary,#094A28);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  p {
    margin: 0;
    color: #666666
    ;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .phone-no {
    color: #181F29 ;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 7px;
  }

  .otp-inputs {
    margin-top: 20px;

    input[type="number"] {
      -moz-appearance: textfield;
      //   -webkit-appearance: none;
      width: 40px;
      height: 40px;
      margin: 5px;

    }
  }

  .resend {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    
    

    p {
      color: var(--secondry-text-color, rgba(0, 0, 0, 0.55));
      font-family: Lato;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    
  }

  .signup {
    margin-left: 6px;
    width: 90%;
    text-transform: capitalize;
    margin-top: 50px;
    height: 45px;
    --color: #FFF;
  }

  .otp-inputs {
    display: flex;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    justify-content: center;
    border-color: #589441;

    input {
      height: 36px;
      width: 36px;
      margin: 0 17px;
      background: #ececec;
      box-shadow: inset 0px 4px 12px rgba(21, 21, 21, 0.15);
      border-radius: 8px;
      text-align: center;
      border: 1px solid grey;
    }
  }
}
