<app-header-with-back [title]="'Login/SignUp'" [showNotificationIcon]="false" [showBackButton]="true"></app-header-with-back>

<ion-content class="container">
  <h1>Enter verification code</h1>
  <p>We have sent you a 6 digit verification code on</p>
  <div class="phone-no">+91 {{dataProvider.userMobile}}</div>

  <div class="otp-inputs">
    <ng-otp-input 
    ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="config"></ng-otp-input>
  </div>


  <div class="resend">
    <div id="recaptcha-container2"></div>
    <p style="color:#666666">Didn't receive code?</p> &nbsp;
    <p *ngIf="resendOtpTime == 0" style="color: #181F29; cursor: pointer;" (click)="sendOTP()" >Resend OTP</p>
    <p *ngIf="resendOtpTime > 0" style="color: #181F29; cursor: pointer;" class="link">Resend OTP in {{resendOtpTime}} sec</p>
  </div>
  <ion-button class="signup" style="--background:#589441;--background-activated: #589441;" (click)="login()">Login</ion-button>
</ion-content>
