* {
  font-family: Lato;
  color: #589441;
  box-shadow: none !important;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px !important;
}

.main {
  background-color: #f7f7f7;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 20px;

  //   Header
  .toolbar {
    --background: #fff;
    box-shadow: none;
    margin-top: -8px;
  }

  .back-icon {
    width: 37px;
    height: 24px;
    flex-shrink: 0;
    color: #589441;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px;
    cursor: pointer;
  }

  .booking-title {
    display: inline-block;
    margin-top: 10px;
  }

  .notification {
    position: absolute;
    align-items: end;
    text-align: revert;
    float: right;
    right: 30px;
    margin-top: 7px;
    cursor: pointer;
  }
}

.container {
  display: flex;
  background: #fff;
  margin-top: 2px;
  width: 100%;

  .row {
    float: left;
    color: var(--primary,  #094A28);

    .order {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // padding: 10px;
      gap: 20px;

      span {
        display: flex;

        img {
          width: 14px;
          margin-top: 5px;
          margin-right: 10px;
        }

        h3 {
          margin-top: 11px;
          margin-bottom: 6px;
          font-size: 12px;
        }
      }

      h5 {
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 10px;
      }
    }
  }

  .row-1 {
    float: right;
    margin-left: 80px;
  }

  h6 {
    color: var(--primary, #589441);
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

// Profile Section
.Profile {
  background: #fff;
  margin-top: 2px;
  padding-bottom: 15px;
  padding-top: 15px;
  .icon-text {
    display: flex;
    align-items: center;
    padding: 10px 0px;

    .profile-icon {
      margin-left: 10px;
      padding-right: 5px;
    }
    p {
      font-size: 12px;
      margin: 0;
    }
  }

  .agent-not-assigned {
    display: grid;
    grid-template-columns: 70% 30%;

    .details {
      padding: 1px 17px;
      h2 {
        color: #589441;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
      }

      p {
        color: var(--Neutral-04,  #094A28);
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
      }
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      .icon-div {
        width: 50px;
        height: 50px;
        background: #5e008029;
        border-radius: 50px;
        justify-content: center;
        display: flex;
        align-items: center;

        .mechanic-icon {
          margin-right: 6px;
        }

        .search-icon {
          width: 12px;
          height: 12px;
          margin-top: 23px;
          // position: absolute;
          margin-left: -14px;
        }

        img {
          width: 28px;
          height: 28px;
        }
      }
    }
  }

  .agent-det-div {
    padding: 0 12px;
    .row-2 {
      display: grid;
      grid-template-columns: 20% 32% 48%;
      margin-top: 7px;
      .agent-img {
        display: flex;
        align-items: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .agent-name {
        p {
          margin: 0;
        }
        .rating-div {
          display: flex;
          p {
            margin-left: 3px;
            color: var(--Neutral-07, #589441);
            font-size: 10px;

            span {
              color: var(--Neutral-04,  #094A28);
            }
          }
        }
      }

      .call-button {
        display: flex;
        margin-right: 5px;
        align-items: center;
        flex-direction: row-reverse;
        button {
          width: 36px;
          height: 36px;
          border-radius: 100px;
          border: 1px solid var(--primary, #589441);
          background: #fff;
        }
      }
      .call-text p {
        color:  #094A28;
        font-family: Lato !important;
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: -0.02em;
        text-align: left;
        padding: 0px 10px;
      }
    }
  }
  hr {
    height: 1px;
    /* color: red; */
    background: #e9e9e9;
  }
  .row-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    h5 {
      font-size: 14px;
      margin: 0;
      width: 50%;
    }

    .otp-div {
      display: flex;
      width: 50%;
      justify-content: space-around;

      .otp-digit {
        width: 24px;
        height: 24px;
        /* padding: 9px 12px; */
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid var(--primary, #589441);
        background: var(--primary, #589441);
        color: white;
      }
    }
  }
}

// Offer Water
.water {
  width: 100%;
  height: 40px;
  background: rgba(221, 246, 255, 0.8);

  .glass-image {
    margin-left: 10px;
  }

  p {
    color: #06708f;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    display: inline-flex;
    margin-left: 10px;
    margin-top: 10px;
  }
}

// Service Section
.Service-section {
  border: 1px solid var(--line, #e9e9e9);
  background: #fff;
  .allotmentPending,
  .acceptancePending,
  .otpVerificationPending {
    background: rgba(235, 131, 60, 0.25);
    color: rgba(235, 131, 60, 1);
  }
  .inProgress,
  .jobAccepted {
    background: rgba(255, 197, 84, 0.25);
    color: rgba(255, 169, 0, 1);
  }
  .completed,
  .jobStarted {
    background: rgba(240, 239, 255, 1);
    color: rgba(106, 93, 255, 1);
  }
  .discarded {
    background: #ffe1e3;
    color: #d3424a;
  }
  .row-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 11px;

    .head {
      color: var(--primary, #589441);
      font-family: Lato;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      margin: 0;
    }

    // .row-6 {
    .body {
      display: flex;
      padding: 0px 8px;
      align-items: center;
      border-radius: 5px;
      font-size: 12px;
      font-weight: 500;
      padding: 2px 5px;
      margin: 0;
    }
    // }
  }

  // Price and Subject
  // .row-7 {
  //   .left {
  //     // border-bottom: 1px solid #e9e9e9;
  //     padding: 12px 16px;
  //     display: flex;
  //     img {
  //       width: 60px;
  //       height: 60px;
  //     }
  //     .head {
  //       // display: flex;
  //       // display: inline;

  //       margin-left: 5px;
  //       color: #589441;
  //       font-family: Lato;
  //       font-size: 16px;
  //       font-style: normal;
  //       font-weight: 700;
  //       line-height: normal;
  //       letter-spacing: -0.32px;
  //     }

  //     .body {
  //       color: var(--neutral-04,  #094A28);
  //       font-family: Lato;
  //       font-size: 12px;
  //       font-style: normal;
  //       font-weight: 500;
  //       line-height: 138%;
  //       /* 16.56px */
  //       letter-spacing: -0.24px;
  //       display: flex;
  //       margin-top: 29px;
  //       margin-left: -100px;
  //     }

  //     .body1 {
  //       color: var(--neutral-04,  #094A28);
  //       font-family: Lato;
  //       font-size: 12px;
  //       font-style: normal;
  //       font-weight: 500;
  //       line-height: 138%;
  //       /* 16.56px */
  //       letter-spacing: -0.24px;
  //       display: flex;
  //       margin-top: 29px;
  //       margin-left: -45px;
  //     }
  //   }
  // }

  .service-det-div {
    display: flex;
    padding: 1px 14px;
    margin: 6px 0px;

    .img-div {
      width: 18%;
      .img-circle-div {
        width: 50px;
        height: 50px;
        background: #f5f5f5;
        border-radius: 58px;
        border: 1px solid #c7c4c4;
      }
    }

    .category-det-div {
      width: 64%;
      padding-left: 7px;
      h3 {
        margin: 0;
        color: #589441;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.32px;
      }
      span {
        color: var(--Neutral-04,  #094A28);
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.24px;
      }
    }

    .price-div {
      width: 18%;
      font-family: Lato;
      font-size: 14px;
      font-weight: 700;
      line-height: normal;
      display: flex;
      justify-content: end;

      span {
        color: #579540;
      }
    }
  }
  .row-8 {
    .right {
      float: right;
      margin-top: -50px;
      margin-right: 20px;
      color: #579540;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  // total price & pay format
  .total {
    display: flex;
    background: #fff;
    margin-top: 2px;
    /* width: 100%; */
    /* margin-left: 10px; */
    justify-content: space-between;
    padding: 1px 12px;

    .row-9 {
      // margin-left: 20px;
      display: inline;
    }

    .row-10 {
      span {
        display: flex;
      }
    }

    h6 {
      color: var(--secondry-text-color,  #094A28);
      font-family: Lato;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
    }

    h5 {
      color: var(--primary, #589441);
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 5px 0px;
    }
  }
}

// Date and Time
.third-section {
  background-color: #fff;
  padding: 12px 16px;
  margin-top: 2px;
  border: 1px solid var(--line, #e9e9e9);

  .row-1 {
    .head {
      font-size: 18px;
      color: var(--neutral-04, #589441);
      font-weight: 700;
    }
  }

  .row-2 {
    border-radius: 12px;
    border: 1px solid var(--line, #e9e9e9);
    padding: 12px;
    margin-top: 8px;
    box-shadow: -1px 4px 10px -4px rgba(22, 22, 22, 0.08);
    display: flex;

    .head {
      font-size: 14px;
      color: var(--neutral-04,  #094A28);
      font-weight: 500;
    }

    .body {
      font-size: 14px;
      font-weight: 700;
    }
  }
}

// Address
.address {
  background-color: #fff;
  padding: 12px 16px;
  margin-top: 2px;
  border: 1px solid var(--line, #e9e9e9);

  .row-1 {
    .head {
      font-size: 18px;
      font-weight: 700;
      color: var(--primary, #589441);
    }
  }

  .row-2 {
    border-radius: 12px;
    border: 1px solid var(--line, #e9e9e9);
    padding: 15px;
    margin-top: 8px;
    box-shadow: -1px 4px 10px -4px rgba(22, 22, 22, 0.08);
    // display: flex;
    h2{
      color: var(--primary, #589441);
      font-size: 14px;
      font-weight: 700;
    }
    p{
      margin-top: 4px;
      color:  #094A28;
      font-size: 14px;
      font-weight: 400;
    }
    .head {
      font-size: 14px;
      font-weight: 700;
      color: var(--primary, #589441);
    }

    .body {
      color:  #094A28;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.36px;
      margin-top: 4px;
    }
  }
}

// Payment Details
.payment {
  width: 100%;
  box-shadow: none;
  left: -10px;
  border: 1px solid var(--line, #e9e9e9);
  flex-direction: row !important;
  background: #fff;
  margin-top: 3px;

  .items{
    .row1{
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      margin-bottom: 3px;
      p{
        color:  #094A28;
      }
    }
  }
  
  ion-card-header {
    flex-direction: column;
  }
  .title {
    display: flex;
    float: left;
    margin-bottom: 10px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    justify-content: space-between;

    span {
      color: var(--primary-text-color,  #094A28);
    }

    button {
      width: 30px;
      height: 30px;
      border-radius: 53px;
      border: 1px solid #589441;
      background: #fff;
    }
  }
  .payment-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    .payment-heading {
      text-align: left;
      flex: 0 0 50%;
      font-weight: 500;
      color:#589441;
    }
    .payment-value {
      text-align: right;
      flex: 0 0 50%;
    }
  }
  .head {
    float: left;
    display: inline;
    color: var(--secondry-text-color,  #094A28);
    text-align: center;
    font-family: Lato;
    margin-top: -18px;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .body {
    float: right;
    display: inline;

    margin-bottom: 10px;
    color: #252525;
    text-align: center;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .total-price {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }

  .amount {
    font-size: 16px;
    font-style: normal;
  }
}

// Banner
.offer-bar {
  display: flex;
  // width: 327px;
  min-height: 25px;
  padding: 2px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: #ebffe3;
  margin-top: 10px;
  // margin-left: 10px;
}

.tag-image {
  padding-right: 6px;
}

.tag-text {
  font-size: 12px;
  color: #1a5f00;
  display: contents;
}

// Review  Section
.review-section {
  border: 1px solid var(--line, #e9e9e9);
  background: #fff;
  margin-top: -9px;

  .row-5 {
    // display: flex;
    padding: 0 20px 0px 12px;

    .head {
      margin-left: 16px;
      color: var(--primary, #589441);
      font-family: Lato;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      margin: 0;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    p {
      color: var(--Neutral-04,  #094A28);
      font-family: Lato;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 138%;
      letter-spacing: -0.24px;
      margin: 0;
    }

    .row-6 {
      .body {
        margin-left: 180px;
        height: 21px;
        padding: 0px 8px;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        background: #f0efff;
        color: #6a5dff;
        text-align: right;
        /* Level 2> Medium- 12px */
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        padding: 2px 5px;
        margin-top: 20px;
      }
    }
  }

  // Price and Subject

  .service-review-cont {
    .row-7 {
      display: grid;
      grid-template-columns: 19% 65% 19%;
      padding: 19px 13px 5px;
      .img-div {
        width: 50px;
        height: 50px;
        background: #f5f5f5;
        border-radius: 58px;
        border: 1px solid #c7c4c4;
        img {
          padding-top: 12px;
          padding-left: 12px;
        }
      }
      .service-det {
        .service-head {
          h3 {
            // margin-left: 5px;
            color: #589441;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.32px;
            margin: 0;
          }

          span {
            color: var(--neutral-04,  #094A28);
            font-family: Lato;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 138%;
            /* 16.56px */
            letter-spacing: -0.24px;
            display: flex;
            margin-top: 7px;
          }
        }
      }
      .rating {
        // border-bottom: 1px solid #d7d7d7;
        p {
          margin-bottom: 5px;
        }
        img {
          margin-top: -5px;
        }
      }

      .price {
        .right {
          color: #579540;
          font-family: Lato;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
  }

  .row-8 {
    .right {
      float: right;
      margin-top: -50px;
      margin-right: 20px;
      color: #579540;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}

// Footer
.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;

  div {
    cursor: pointer;

    p {
      color: var(--primary, #589441);
      text-align: center;
      font-size: 12px;
      font-family: Lato;
      font-weight: 500;
      margin: 0px;
    }
  }
}

.example-spacer {
  flex: 1 1 auto;
}

ion-card {
  --background: #f2ebf5;
  --color: #5e0080;
  border-radius: 12px;
}

input {
  margin: 0.4rem;
}

.reschedule-container {
  display: flex;
  justify-content: space-between;
  padding: 0 17px;
  margin-bottom: 11px;

  .reschedule-button {
    width: 48%;
    display: flex;
    padding: 5px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid var(--primary, #589441);
    background: #fff;
  }
  .cancel-button {
    width: 48%;
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    color: #d42424;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    border: 1px solid #d42424;

    background: #fff;
  }
}

.pictures-div {
  padding: 0 10px 16px;
  background: white;
  h3 {
    color: #589441;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }

  .img-cont {
    border-radius: 8px;
    border: 1px solid var(--Line, #e9e9e9);
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0 auto;
  }

  .images {
    width: 17%;
    display: flex;

    img {
      border-radius: 10px;
      border: 1px solid #000;
    }
  }
}

h2,
p {
  margin: 0px;
  padding: 0px;
}

ion-content {
  --background: #f7f7f7;
  // --ion-background-color:red;
  font-family: Lato;
  $primary: #589441;
  $secondary:  #094A28;
  $green: #579540;

  .container {
    // padding: 12px 16px 12px 16px;

    .first-section {
      background-color: #fff;
      padding: 12px 16px;
      margin-top: 4px;
      border: 1px solid var(--line, #e9e9e9);

      section {
        display: flex;
        // height: 171px;
        padding: 25px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #cdf4df;
        border-radius: 12px;

        /* card sahdow 2 */
        box-shadow: -1px 4px 10px -4px rgba(22, 22, 22, 0.08);

        h2 {
          margin-top: 16px;
          font-size: 16px;
          font-weight: 500;
          color: $primary;
        }

        p {
          margin-top: 4px;
          font-size: 12px;
          font-weight: 500;
          color: $secondary;
        }
      }

      img {
        height: auto;
        width: 117px;
      }
    }

    .third-section {
      background-color: #fff;
      padding: 12px 16px;
      margin-top: 4px;
      border: 1px solid var(--line, #e9e9e9);

      .head {
        font-size: 18px;
        color: $primary;
        font-weight: 700;
      }

      .row-2 {
        border-radius: 12px;
        border: 1px solid var(--line, #e9e9e9);
        padding: 12px;
        margin-top: 8px;
        /* card sahdow 2 */
        box-shadow: -1px 4px 10px -4px rgba(22, 22, 22, 0.08);
        display: flex;

        .head {
          font-size: 14px;
          color: $secondary;
          font-weight: 500;
        }

        .body {
          font-size: 14px;
          font-weight: 700;
          color: $primary;
        }
      }
    }

    .forth-section {
      background-color: #fff;
      padding: 12px 16px;
      margin-top: 4px;
      border: 1px solid var(--line, #e9e9e9);

      .head {
        font-size: 18px;
        color: $primary;
        font-weight: 700;
      }

      .row-2 {
        border-radius: 12px;
        border: 1px solid var(--line, #e9e9e9);
        padding: 15px;
        margin-top: 8px;
        /* card sahdow 2 */
        box-shadow: -1px 4px 10px -4px rgba(22, 22, 22, 0.08);
        display: flex;

        .head {
          color: $primary;
          font-size: 14px;
          font-family: Manrope;
          font-weight: 700;
        }

        .body {
          color:  #094A28;
          font-size: 12px;
          font-family: Nunito Sans;
          font-weight: 400;
          letter-spacing: 0.36px;
          margin-top: 4px;
        }
      }
    }

    ion-button {
      margin-top: 24px;
      padding: 0px 16px;
      --border-radius: 10px;
    }
  }
}
li.pargraph {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #094A28;
}
.row-discarded {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 19px 12px 19px 12px;
  margin: 5px 0px;
  background: #ffe1e3;
  p {
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #d3424a;
  }
}

.ion-padding {
  .container {
    h2 {
      color: var(--primary, #589441);
      font-family: Lato;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 6px;
      margin-top: 8px;
    }
    small {
      font-family: Lato;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 10px;
    }

    ion-img {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }

    ion-img::part(image) {
      width: 156px;
      height: 99px;
      border-radius: 12px;
    }

    .rating-star {
      display: flex;
      justify-content: space-evenly;
      padding: 0 77px;
      margin-bottom: 14px;
      i {
        font-size: 26px;
      }
    }

    .form-group {
      input {
        margin: 10px 0;
        padding: 9px 12px;
      }
    }

    .bottom-buttons {
      padding: 0;
      justify-content: space-between;
      margin-top: 25px !important;

      button {
        width: 48%;
        padding: 13px 20px;
        font-size: 18px;
        font-weight: 700;
        border-radius: 12px;
      }
      .skipbtn {
        background: white;
        color: #589441;
        border: 1px solid var(--primary, #589441);
      }

      .submitbtn {
        background: var(--primary, #589441);
        color: white;
        border: 1px solid var(--primary, #589441);
      }
    }
  }
}

.success{
  padding: 7px;
    background: #DFF3D7;
    color: #579540;
    border-radius: 10px;
}
.faild{
  padding: 7px;
  background: #FFD2D2;
  color: #E82C2C;
  border-radius: 10px;
}
.paylater{
  padding: 7px;
  background: #FFDFD2;
  color: #FF820F;
  border-radius: 10px;
}
.inProgressRefund{
  padding: 7px;
  background: #CAE5FF;
  color: #007EDA !important;
  border-radius: 10px;
}
.payment-value{
  width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.payment-details-div {
  border: 1px solid var(--Line, #e9e9e9);
  background: #fff;
  margin-bottom: 13px;
  .heading {
    color: var(--primary, #589441);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .sub-title {
    color: var(--secondry-text-color,  #094A28);
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .title-det {
    display: flex;
    justify-content: end;
    color: #252525;
    text-align: right;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    img {
      margin-right: 5px;
    }
  }

  span {
    border-radius: 5px;
    background: #dff3d7;
    padding: 4px 8px;
    color: #579540;
    font-size: 10px;
  }
}
