<app-header-with-back
  id="mobile-view"
  [title]="'Booking Details'"
  [showNotificationIcon]="true"
></app-header-with-back>
<app-header-with-back
  id="web-view"
  [title]="'Booking Details'"
  [showNotificationIcon]="false"
></app-header-with-back>

<div id="mobile-view" class="main">
  <!-- Toolbar -->
  <!-- Order ID card -->
  <div class="container">
    <div class="row">
      <div class="order">
        <span>
          <img src="../../../assets/Calender 2.svg" alt="" />
          <h3>Order ID</h3>
        </span>
        <h5>{{currentBooking?.id}}</h5>
      </div>

      <div class="order">
        <span>
          <img src="../../../assets/Calender 2.svg" alt="" />
          <h3>Order Date</h3>
        </span>
        <h5>{{currentBooking?.createdAt?.toDate() | date:'longDate'}}</h5>
      </div>
    </div>
  </div>

  <!-- Profile Section -->
  <div class="Profile">
    <div class="agent-not-assigned" *ngIf="assignedAgent === undefined">
      <div class="details">
        <h2>Finding A Professional</h2>
        <p>Waiting for the professional to accept your booking</p>
      </div>
      <div class="icon">
        <div class="icon-div">
          <img
            class="mechanic-icon"
            src="../../../../assets/icon/mechanic.png"
            alt=""
          />
          <img class="search-icon" src="../../../../assets/search.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="icon-text" *ngIf="assignedAgent !== undefined">
      <img class="profile-icon" src="../../../assets/profile-sign.svg" alt="" />
      <p>Professional Assigned</p>
    </div>
    <!-- Profile image & Name -->
    <div class="agent-det-div" *ngIf="assignedAgent !== undefined">
      <div class="row-2">
        <div
          class="agent-img"
          style="background-image: url({{assignedAgent.photoUrl}});"
        >
          <!-- <img class="profile-pic" src="{{assignedAgent.photoUrl}}" alt="" style="    border-radius: 50%;" /> -->
        </div>
        <div class="agent-name">
          <p>{{assignedAgent.name}}</p>
          <div class="rating-div">
            <img class="star" src="/assets/star.svg" alt="" />
            <p>4.5 <span>(87)</span></p>
          </div>
        </div>
        <!--  -->
        <div
          class="call-button"
          *ngIf=" (currentBooking?.stage == ='completed') || (jobTimeBeforMins < 30 &&  jobTimeBeforMins > 0) && (currentBooking?.stage !== 'discarded') && (currentBooking?.stage !== 'completed') && (currentBooking?.stage !== 'expired') && jobOtp.length > 0"
        >
          <button>
            <a href="tel:{{assignedAgent.phoneNumber}}">
              <img class="call" src="../../../assets/Call.svg" alt="" />
            </a>
          </button>
          <p style="margin-right: 5px">{{assignedAgent.phoneNumber}}</p>
        </div>
        <div
          class="call-text"
          *ngIf="(currentBooking?.stage !== 'completed') && (jobTimeBeforMins > 30 ||  jobTimeBeforMins < 0) "
        >
          <p>Phone No. will be visible 30 min prior to booking</p>
        </div>
      </div>
      <hr />
      <!-- OTP -->
      <div
        class="row-4"
        *ngIf="(currentBooking?.stage !== 'discarded') && (currentBooking?.stage !== 'completed') && (currentBooking?.stage !== 'expired') && jobOtp.length > 0"
      >
        <h5>OTP to start the seva</h5>
        <div class="otp-div">
          <!-- {{(currentBooking?.jobOtp)?.length}} -->
          <div class="otp-digit" *ngFor="let otp of jobOtp">{{otp}}</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Booking Cancelled  -->
  <div class="row-discarded" *ngIf="currentBooking?.stage === 'discarded'">
    <div>
      <p>Booking Cancelled by : You</p>
      <p>Cancellation Reason : {{currentBooking?.cancelReason}}</p>
      <p>Cancellation Time : 2 hrs After Booking</p>
    </div>
    <div class="otp-div">
      <img src="assets/discarded.png" alt="" />
    </div>
  </div>
  <!-- Offer water -->
  <div
    class="water"
    *ngIf="assignedAgent !== undefined && currentBooking?.stage !== 'discarded' && currentBooking?.stage !== 'completed' && currentBooking?.stage !== 'expired'"
  >
    <img class="glass-image" src="../../../assets/glass1.svg" alt="" />
    <span>
      <p>Offer drinking water to the professional</p>
    </span>
  </div>

  <!-- Service Section -->
  <div class="Service-section">
    <!-- Card header -->
    <div class="row-5">
      <p class="head">Seva</p>
      <!-- <div class="row-6"> -->
      <p class="body {{currentBooking?.stage}}">
        {{ utils[currentBooking?.stage || 'allotmentPending'].text }}
      </p>
      <!-- </div> -->
    </div>
    <!-- Price and Subject -->
    <ng-container *ngFor="let service of currentBooking?.services">
      <!-- <div class="row-7">
        <div class="left">
          <img class="image" [src]="service.image" alt="" />
          <span class="head">{{service.name}}</span><br />
        </div>
      </div> -->
      <!-- <div class="row-7" *ngFor="let variant of service.variants">
        <div class="left">
          <span class="head">{{variant.name}}</span><br />
          <span class="body">{{variant.jobDuration}}</span>
          <span class="body1">{{variant.jobAcceptanceCharge | currency:'INR'}}</span>
        </div>
        <div class="row-8">
          <section class="right">
            {{variant.billing.totalPrice | currency:'INR'}}
          </section>
        </div>
      </div> -->

      <div>
        <div *ngFor="let variant of service.variants" class="service-det-div">
          <div class="img-div">
            <div class="img-circle-div">
              <img
                src="{{currentBooking?.mainCategory?.icon}}"
                alt=""
                style="padding-top: 12px; padding-left: 12px"
              />
            </div>
          </div>
          <div class="category-det-div">
            <h3>{{service.name}}</h3>
            <span>{{variant.name }} x {{ variant.quantity}}</span>
          </div>
          <div class="price-div">
            <span
              >{{variant.billing.discountedPrice | currency:'INR' : 'symbol' :
              '1.0-0' }}</span
            >
          </div>
        </div>
      </div>

      <hr />
    </ng-container>
    <!-- Total price and pay format  -->
    <div class="total">
      <div class="row-10">
        <h6>Delivery Mode</h6>
        <span>
          <h5>COD</h5>
        </span>
      </div>
      <div class="row-9">
        <h6>Total</h6>
        <span>
          <h5>
            {{currentBooking?.billing?.grandTotal | currency:'INR' : 'symbol' :
            '1.0-0'}}
          </h5>
        </span>
      </div>
    </div>
  </div>

  <!-- Date and Time -->
  <div class="third-section">
    <div class="row-1">
      <p class="head">Date & Time</p>
    </div>

    <div class="row-2">
      <section>
        <img
          style="margin-top: 4px"
          src="../../../assets/Calender 2.svg"
          alt=""
        />
      </section>

      <section style="margin-left: 10px">
        <span class="head">Date</span><br />
        <span class="body"
          >{{this.currentBooking?.timeSlot?.date?.toDate()|
          date:'mediumDate'}}</span
        >
      </section>
    </div>
    <div class="row-2">
      <section>
        <img style="margin-top: 4px" src="assets/clock.svg" alt="" />
      </section>

      <section style="margin-left: 10px">
        <span class="head">Time</span><br />
        <span class="body"
          >{{currentBooking?.timeSlot?.time?.startTime?.toDate() |
          date:'hh:mm'}} To {{currentBooking?.timeSlot?.time?.endTime?.toDate()
          | date:'shortTime'}}</span
        ><br />
        <span class="body"
          >(Preferred Agent Arrival Time -
          {{currentBooking?.timeSlot?.agentArrivalTime?.toDate() | date:
          "shortTime" }})</span
        >
      </section>
    </div>
  </div>

  <!-- Address -->
  <div class="address">
    <div class="row-1">
      <p class="head">Address</p>
    </div>

    <div class="row-2">
      <div class="left">
        <p class="mb-1">Name: {{currentBooking?.address?.name}}</p>
        <p>Address: {{currentBooking?.address?.addressLine1}}</p>
        <p>
          Phone no.:
          {{(currentBooking?.currentUser?.phoneNumber)?.substring(3,14)}}
        </p>
        <p>City: {{currentBooking?.address?.city}}</p>
        <p>State: {{currentBooking?.address?.state}}</p>
        <p>Pincode: {{currentBooking?.address?.pincode}}</p>
      </div>
    </div>
  </div>

  <!-- pictures before and after work -->
  <div class="pictures-div" *ngIf="picAvalable">
    <div class="pictures-before">
      <h3>Pictures Before Work</h3>
      <div class="img-cont">
        <div class="images" *ngFor="let item of currentBooking?.picsBefore">
          <img src="{{item}}" alt="" />
        </div>
      </div>
    </div>
    <div class="pictures-after">
      <h3>Pictures After Work</h3>
      <div class="img-cont">
        <div class="images" *ngFor="let item of currentBooking?.picsAfter">
          <img src="{{item}}" alt="" />
        </div>
      </div>
    </div>
  </div>

  <!-- Payment Details -->
  <div>
    <ion-card class="payment">
      <ion-card-header style="border-bottom: 1px double #d7d7d7">
        <div class="title" *ngIf="currentBooking?.stage == utils.completed.key">
          <span>Payment Details</span>
          <button (click)="downloadPdf()">
            <img src="../../../../assets/download.svg" alt="" />
          </button>
        </div>

        <div class="payment-row">
          <div class="payment-heading">Total Duration</div>
          <!-- <div class="payment-value">{{duration}}</div> -->
          <div class="payment-value">{{actualJobDuration}}</div>
        </div>
        <!-- <div class="payment-row">
          <div class="payment-heading">Slot Duration</div>
          <div class="payment-value">{{duration}}</div>
        </div> -->

        <div class="items">
          <ng-container *ngFor="let item of currentBooking?.services">
            <div class="row1" *ngFor="let variant of item.variants">
              <p class="col1">
                {{variant.name }} X
                <span style="color: #fb9f14">{{ variant.quantity}}</span>
              </p>
              <p style="color: #fb9f14">
                {{(variant.billing.totalPrice) | currency:'INR' : 'symbol' :
                '1.0-0'}}
              </p>
            </div>
          </ng-container>
        </div>

        <div class="payment-row">
          <div class="payment-heading">Total (MRP)</div>
          <div class="payment-value">
            {{currentBooking?.billing?.subTotal | currency:'INR' : 'symbol' :
            '1.0-0'}}
          </div>
        </div>
        <div class="payment-row">
          <div class="payment-heading">Discount</div>
          <div class="payment-value" style="color: #c16256">
            -{{discount | currency:'INR': 'symbol' : '1.0-0'}}
          </div>
        </div>
        <div class="payment-row mb-20">
          <div class="payment-heading">Discounted Price</div>
          <div class="payment-value">
            {{(currentBooking?.billing?.subTotal || 0) - (discount || 0) |
            currency:'INR' : 'symbol' : '1.0-0'}}
          </div>
        </div>
        <div
          class="payment-row"
          *ngFor="let charge of currentBooking?.billing?.fixedCharges"
        >
          <div class="payment-heading">{{charge.name}}</div>
          <div class="payment-value">{{charge.amount | currency:'INR'}}</div>
        </div>
        <!-- Total Price -->
        <div style="border-top: 2px dashed #d7d7d7">
          <div class="payment-row mt-20">
            <div class="payment-heading total-price">Total</div>
            <div class="payment-value amount" style="color: #579540">
              {{(currentBooking?.billing?.grandTotal) | currency:'INR' :
              'symbol' : '1.0-0'}}
            </div>
          </div>
        </div>
        <!-- Banner -->
        <div class="offer-bar" *ngIf="discount !==0 && discount !== undefined">
          <img class="tag-image" src="../../../assets/tag.svg" alt="" />
          <p class="tag-text">
            Yay! You have saved {{discount | currency:'INR' : 'symbol' :
            '1.0-0'}}.
          </p>
        </div>
      </ion-card-header>
    </ion-card>
  </div>

  <!-- payment card -->
  <!-- <div class="payment-details-div">
    <ion-grid>
      <ion-row>
        <ion-col class="heading" size = "4">Payment Details</ion-col>
        <ion-col class="title-det row1col" size = "8"><span>Completed</span></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="sub-title" size = "4">Payment Mode</ion-col>
        <ion-col class="title-det row2col" size = "8">Pre Paid Online</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="sub-title" size = "4">Transaction ID</ion-col>
        <ion-col class="title-det row3col" size = "8"><img src="../../../../assets/transaction.svg" alt="">hgfg76746uwbhjwyry387837548b</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="sub-title" size = "4">Refund Status</ion-col>
        <ion-col class="title-det row4col" size = "8">
          Your Refund has been initiated <br>
          It will be processed before 3 Business Days
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->
  <!-- Payment Method -->
  <div>
    <ion-card class="payment">
      <ion-card-header style="border-bottom: 1px double #d7d7d7">
        <div class="title">
          <span>Payment Details</span>
          <p
            class="body"
            *ngIf="currentBooking?.isRefundInitiated === false && (currentBooking?.isPaid || currentBooking?.isPaylater === false)"
            [ngClass]="[currentBooking?.payment?.stage === 'paymentCaptureSuccess' ? 'success' : 'faild']"
          >
            {{ currentBooking?.payment?.stage === 'paymentCaptureSuccess' ?
            'Completed' : 'Failed' }}
          </p>
          <p
            class="body paylater"
            *ngIf="currentBooking?.isPaid === false && currentBooking?.isPaylater"
          >
            Pending
          </p>
          <p
            class="body inProgressRefund"
            *ngIf="currentBooking?.isRefundInitiated && currentBooking?.refundInitiatedDetails.status === 'pending'"
          >
            Refund In Progress
          </p>
          <p
            class="body success"
            *ngIf="currentBooking?.isRefundInitiated && currentBooking?.refundInitiatedDetails.status === 'processed'"
          >
            Refund Processed
          </p>
          <p
            class="body faild"
            *ngIf="currentBooking?.isRefundInitiated && currentBooking?.refundInitiatedDetails.status === 'failed'"
          >
            Refund Failed
          </p>
        </div>
        <div class="payment-row">
          <div class="payment-heading">Payment Mode</div>
          <div
            class="payment-value"
            *ngIf="currentBooking?.isPaid || currentBooking?.isPaylater == false"
          >
            Pre Paid Online
          </div>
          <div
            class="payment-value"
            *ngIf="currentBooking?.isPaid == false && currentBooking?.isPaylater"
          >
            Pay After Job
          </div>
        </div>
        <div class="payment-row">
          <div class="payment-heading">Transaction ID</div>
          <div
            class="payment-value"
            *ngIf="currentBooking?.isPaid || currentBooking?.isPaylater == false"
            title="{{currentBooking?.payment?.id}}"
          >
            {{currentBooking?.payment?.razorpay_payment_id}}
          </div>
          <div
            class="payment-value"
            *ngIf="currentBooking?.isPaid == false && currentBooking?.isPaylater"
          >
            {{currentBooking?.id}}
          </div>
        </div>
        <div class="payment-row" *ngIf="currentBooking?.isRefundInitiated">
          <div class="payment-heading">Refund Transaction ID</div>
          <div
            class="payment-value"
            title="{{currentBooking?.refundInitiatedDetails?.id}}"
          >
            {{currentBooking?.refundInitiatedDetails?.id}}
          </div>
        </div>
        <div style="border-top: 2px dashed #d7d7d7">
          <div class="payment-row mt-20">
            <div class="payment-heading total-price">Refund Amount</div>
            <div class="payment-value amount" style="color: #579540">
              {{((currentBooking?.refundInitiatedDetails?.amount/100) || 0) |
              currency:'INR' : 'symbol' : '1.0-0'}}
            </div>
          </div>
        </div>
        <div
          class="payment-row"
          *ngIf="currentBooking?.isRefundInitiated && currentBooking?.refundInitiatedDetails.status === 'pending'"
        >
          <div class="payment-heading">Refund Status</div>
          <div
            class=""
            title="Your Refund has been initiated It will be processed before 3 Business Days"
          >
            Your Refund has been initiated It will be processed before 3
            Business Days
          </div>
        </div>
      </ion-card-header>
    </ion-card>
  </div>
  <!-- Rating -->
  <div class="review-section">
    <!-- Card header -->
    <div class="row-5" *ngIf="currentBooking?.stage !== 'discarded' ">
      <h3 class="head">Rating</h3>
      <p>
        (Ratings can be given/changed within 2 hours after the completion of
        Seva)
      </p>
    </div>
    <div *ngIf="currentBooking?.stage === 'completed' ">
      <div
        class="service-review-cont"
        *ngFor="let service of currentBooking?.services"
      >
        <!-- Price and Subject -->
        <div class="row-7" *ngFor="let variant of service.variants">
          <div class="img-div">
            <img
              class="image"
              src="{{currentBooking?.mainCategory?.icon}}"
              alt=""
            />
          </div>
          <div class="service-det">
            <div class="service-head">
              <h3 class="head">{{service.name}}</h3>
              <span class="body1"
                >{{variant.name }} x {{ variant.quantity}}</span
              >
            </div>
            <!-- (click)="isModalOpenRate=true" -->
            <div
              class="rating"
              id="open-modal-rate"
              expand="block"
              (click)="rateService(service)"
              *ngIf="!service?.rating"
            >
              <p style="margin-right: 10px" *ngIf="!service?.rating">
                Please Rate
              </p>
              <p style="margin-right: 10px" *ngIf="service?.rating">
                {{service?.rating.reviewTitle}}
              </p>
              <span
                ><img src="../../../assets/star-outlined.svg" alt=""
              /></span>
              <span
                ><img src="../../../assets/star-outlined.svg" alt=""
              /></span>
              <span
                ><img src="../../../assets/star-outlined.svg" alt=""
              /></span>
              <span
                ><img src="../../../assets/star-outlined.svg" alt=""
              /></span>
              <span
                ><img src="../../../assets/star-outlined.svg" alt=""
              /></span>
            </div>
            <div
              class="rating"
              id="open-modal-rate"
              expand="block"
              *ngIf="service?.rating"
            >
              <p style="margin-right: 10px" *ngIf="service?.rating">
                {{service?.rating.reviewTitle}}
              </p>
              <span
                *ngFor="let item of [].constructor(service?.rating.rating); let i = index "
                ><img src="../../../assets/carbon_star-filled.svg" alt=""
              /></span>
              <span
                *ngFor="let item of [].constructor(5-service?.rating.rating); let i = index "
                ><img src="../../../assets/star-outlined.svg" alt=""
              /></span>
            </div>
          </div>
          <div class="price">
            <span class="right"
              >{{variant.billing.discountedPrice | currency:'INR' }}</span
            >
          </div>
        </div>
      </div>
    </div>

    <div
      class="reschedule-container mt-4"
      *ngIf="currentBooking?.stage === 'allotmentPending' || currentBooking?.stage === 'acceptancePending'  || currentBooking?.stage === 'jobAccepted'"
    >
      <button
        class="reschedule-button"
        type="button"
        (click)="rescheduleSubmit()"
      >
        Reschedule
      </button>
      <button
        class="cancel-button"
        type="button"
        (click)="onClickCancelBooking()"
      >
        Cancel Booking
      </button>
    </div>
    <div
      class="container"
      *ngIf="currentBooking?.stage === 'allotmentPending' || currentBooking?.stage === 'acceptancePending' || currentBooking?.stage === 'inProgress'"
      style="margin-bottom: 25px"
    >
      <ion-card style="margin: 0px; background-color: #edf2eb">
        <ion-card-content>
          <ul>
            <li class="pargraph">
              No charge if you reschedule or cancel until 3 hours before the
              seva
            </li>
            <li class="pargraph">
              Within 3hrs, a cancellation fee of ₹100 is applicable
            </li>
          </ul>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</div>

<ion-modal
  mode="ios"
  [isOpen]="isModalOpenCancellation"
  (ionModalDidDismiss)="ionModalDidDismiss($event)"
  trigger="open-modal"
  [initialBreakpoint]="0.50"
  [breakpoints]="[0, 0.25, 0.5, 0.75]"
  handleBehavior="cycle"
>
  <ng-template>
    <ion-content class="ion-padding">
      <form [formGroup]="CancelForm">
        <div class="ion-margin-top">
          <h2><b> Cancellation Reason </b></h2>

          <div *ngFor="let item of RADIO_LIST; let i=index">
            <input
              type="radio"
              [value]="item.name"
              [checked]="item.checked"
              formControlName="cancelReason"
            />
            <label>{{item.name}}</label>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row text-center" style="background-color: #ffebcb">
            <p class="mt-3" style="color: #fb9f14">
              We won't be charging you a cancellation fee
            </p>
          </div>
        </div>
        <div class="bottom mt-4">
          <ion-button
            class="text-light bg-blue"
            [disabled]="CancelForm.invalid"
            expand="block"
            style="--background: #fb9f14; --background-activated: #fb9f14"
            (click)="cancelSubmit()"
          >
            Cancel Booking
          </ion-button>
        </div>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal
  mode="ios"
  trigger="open-modal-rate"
  [isOpen]="isModalOpenRate"
  [initialBreakpoint]="0.70"
  [breakpoints]="[0, 0.25, 0.5, 0.75]"
  handleBehavior="cycle"
>
  <ng-template>
    <ion-content class="ion-padding">
      <div class="container">
        <div class="row text-center">
          <h2>Kitchen Cleaning</h2>
          <small style="color: #6f767e">Complete Kitchen Shape</small>
          <ion-img
            src="https://docs-demo.ionic.io/assets/madison.jpg"
            alt="The Wisconsin State Capitol building in Madison, WI at night"
          ></ion-img>
          <small style="color: #579540">Thank you for your rating!</small>
          <div class="col rating-star">
            <i class="bi bi-star" (click)="userRating(1)"></i>
            <i class="bi bi-star" (click)="userRating(2)"></i>
            <i class="bi bi-star" (click)="userRating(3)"></i>
            <i class="bi bi-star" (click)="userRating(4)"></i>
            <i class="bi bi-star" (click)="userRating(5)"></i>
          </div>
          <br />
          <form [formGroup]="userRatingForm">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Review Title"
                formControlName="reviewTitle"
                [ngClass]="{'is-invalid':(ratingSumitted && userRatingForm.controls.reviewTitle.errors)}"
              />
              <!-- <div *ngIf="ratingSumitted && userRatingForm.controls.reviewTitle.errors" class="text-danger">
              <div *ngIf="userRatingForm.controls.reviewTitle.errors.required">
                Review Title is Required
              </div>
            </div> -->
              <textarea
                class="form-control"
                placeholder="Service Review"
                rows="3"
                formControlName="serviceReview"
              ></textarea>
            </div>
            <div class="container mt-4 bottom-buttons">
              <button type="button" class="skipbtn" (click)="SkipRating()">
                Skip
              </button>
              <!-- <span class="example-spacer"></span> -->
              <button type="button" class="submitbtn" (click)="sendRating()">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<div id="web-view" class="back-container">
  <div class="main-container">
    <!-- Toolbar -->
    <!-- Order ID card -->
    <div class="container">
      <div class="row">
        <div class="order">
          <span>
            <img src="../../../assets/Calender 2.svg" alt="" />
            <h3>Order ID</h3>
          </span>
          <h5>{{currentBooking?.id}}</h5>
        </div>

        <div class="order">
          <span>
            <img src="../../../assets/Calender 2.svg" alt="" />
            <h3>Order Date</h3>
          </span>
          <h5>{{currentBooking?.createdAt?.toDate() | date:'longDate'}}</h5>
        </div>
      </div>
    </div>

    <!-- Profile Section -->
    <div class="Profile">
      <div class="agent-not-assigned" *ngIf="assignedAgent === undefined">
        <div class="details">
          <h2>Finding A Professional</h2>
          <p>Waiting for the professional to accept your booking</p>
        </div>
        <div class="icon">
          <div class="icon-div">
            <img
              class="mechanic-icon"
              src="../../../../assets/icon/mechanic.png"
              alt=""
            />
            <img
              class="search-icon"
              src="../../../../assets/search.svg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="icon-text" *ngIf="assignedAgent !== undefined">
        <img
          class="profile-icon"
          src="../../../assets/profile-sign.svg"
          alt=""
        />
        <p>Professional Assigned</p>
      </div>
      <!-- Profile image & Name -->
      <div class="agent-det-div" *ngIf="assignedAgent !== undefined">
        <div class="row-2">
          <div
            class="agent-img"
            style="background-image: url({{assignedAgent.photoUrl}});"
          >
            <!-- <img class="profile-pic" src="{{assignedAgent.photoUrl}}" alt="" style="    border-radius: 50%;" /> -->
          </div>
          <div class="agent-name">
            <p>{{assignedAgent.name}}</p>
            <div class="rating-div">
              <img class="star" src="/assets/star.svg" alt="" />
              <p>4.5 <span>(87)</span></p>
            </div>
          </div>
          <!--  -->
          <div
            class="call-button"
            *ngIf=" (currentBooking?.stage == ='completed') || (jobTimeBeforMins < 30 &&  jobTimeBeforMins > 0) && (currentBooking?.stage !== 'discarded') && (currentBooking?.stage !== 'completed') && (currentBooking?.stage !== 'expired') && jobOtp.length > 0"
          >
            <button>
              <a href="tel:{{assignedAgent.phoneNumber}}">
                <img class="call" src="../../../assets/Call.svg" alt="" />
              </a>
            </button>
            <p style="margin-right: 5px">{{assignedAgent.phoneNumber}}</p>
          </div>
          <div
            class="call-text"
            *ngIf="(currentBooking?.stage !== 'completed') && (jobTimeBeforMins > 30 ||  jobTimeBeforMins < 0) "
          >
            <p>Phone No. will be visible 30 min prior to booking</p>
          </div>
        </div>
        <hr />
        <!-- OTP -->
        <div
          class="row-4"
          *ngIf="(currentBooking?.stage !== 'discarded') && (currentBooking?.stage !== 'completed') && (currentBooking?.stage !== 'expired') && jobOtp.length > 0"
        >
          <h5>OTP to start the seva</h5>
          <div class="otp-div">
            <!-- {{(currentBooking?.jobOtp)?.length}} -->
            <div class="otp-digit" *ngFor="let otp of jobOtp">{{otp}}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Booking Cancelled  -->
    <div class="row-discarded" *ngIf="currentBooking?.stage === 'discarded'">
      <div>
        <p>Booking Cancelled by : You</p>
        <p>Cancellation Reason : {{currentBooking?.cancelReason}}</p>
        <p>Cancellation Time : 2 hrs After Booking</p>
      </div>
      <div class="otp-div">
        <img src="assets/discarded.png" alt="" />
      </div>
    </div>
    <!-- Offer water -->
    <div
      class="water"
      *ngIf="assignedAgent !== undefined && currentBooking?.stage !== 'discarded' && currentBooking?.stage !== 'completed' && currentBooking?.stage !== 'expired'"
    >
      <img class="glass-image" src="../../../assets/glass1.svg" alt="" />
      <span>
        <p>Offer drinking water to the professional</p>
      </span>
    </div>

    <!-- Service Section -->
    <div class="Service-section">
      <!-- Card header -->
      <div class="row-5">
        <p class="head">Seva</p>
        <!-- <div class="row-6"> -->
        <p class="body {{currentBooking?.stage}}">
          {{ utils[currentBooking?.stage || 'allotmentPending'].text }}
        </p>
        <!-- </div> -->
      </div>
      <!-- Price and Subject -->
      <ng-container *ngFor="let service of currentBooking?.services">
        <!-- <div class="row-7">
            <div class="left">
              <img class="image" [src]="service.image" alt="" />
              <span class="head">{{service.name}}</span><br />
            </div>
          </div> -->
        <!-- <div class="row-7" *ngFor="let variant of service.variants">
            <div class="left">
              <span class="head">{{variant.name}}</span><br />
              <span class="body">{{variant.jobDuration}}</span>
              <span class="body1">{{variant.jobAcceptanceCharge | currency:'INR'}}</span>
            </div>
            <div class="row-8">
              <section class="right">
                {{variant.billing.totalPrice | currency:'INR'}}
              </section>
            </div>
          </div> -->

        <div>
          <div *ngFor="let variant of service.variants" class="service-det-div">
            <div class="img-div">
              <div class="img-circle-div">
                <img
                  src="{{currentBooking?.mainCategory?.icon}}"
                  alt=""
                  style="padding-top: 12px; padding-left: 12px"
                />
              </div>
            </div>
            <div class="category-det-div">
              <h3>{{service.name}}</h3>
              <span>{{variant.name }} x {{ variant.quantity}}</span>
            </div>
            <div class="price-div">
              <span
                >{{variant.billing.discountedPrice | currency:'INR' : 'symbol' :
                '1.0-0' }}</span
              >
            </div>
          </div>
        </div>

        <hr />
      </ng-container>
      <!-- Total price and pay format  -->
      <div class="total">
        <div class="row-10">
          <h6>Delivery Mode</h6>
          <span>
            <h5>COD</h5>
          </span>
        </div>
        <div class="row-9">
          <h6>Total</h6>
          <span>
            <h5>
              {{currentBooking?.billing?.grandTotal | currency:'INR' : 'symbol'
              : '1.0-0'}}
            </h5>
          </span>
        </div>
      </div>
    </div>

    <!-- Date and Time -->
    <div class="third-section">
      <div class="row-1">
        <p class="head">Date & Time</p>
      </div>

      <div class="row-2">
        <section>
          <img
            style="margin-top: 4px"
            src="../../../assets/Calender 2.svg"
            alt=""
          />
        </section>

        <section style="margin-left: 10px">
          <span class="head">Date</span><br />
          <span class="body"
            >{{this.currentBooking?.timeSlot?.date?.toDate()|
            date:'mediumDate'}}</span
          >
        </section>
      </div>
      <div class="row-2">
        <section>
          <img style="margin-top: 4px" src="assets/clock.svg" alt="" />
        </section>

        <section style="margin-left: 10px">
          <span class="head">Time</span><br />
          <span class="body"
            >{{currentBooking?.timeSlot?.time?.startTime?.toDate() |
            date:'hh:mm'}} To
            {{currentBooking?.timeSlot?.time?.endTime?.toDate() |
            date:'shortTime'}}</span
          ><br />
          <span class="body"
            >(Preferred Agent Arrival Time -
            {{currentBooking?.timeSlot?.agentArrivalTime?.toDate() | date:
            "shortTime" }})</span
          >
        </section>
      </div>
    </div>

    <!-- Address -->
    <div class="address">
      <div class="row-1">
        <p class="head">Address</p>
      </div>

      <div class="row-2">
        <div class="left">
          <p class="mb-1">Name: {{currentBooking?.address?.name}}</p>
          <p>Address: {{currentBooking?.address?.addressLine1}}</p>
          <p>
            Phone no.:
            {{(currentBooking?.currentUser?.phoneNumber)?.substring(3,14)}}
          </p>
          <p>City: {{currentBooking?.address?.city}}</p>
          <p>State: {{currentBooking?.address?.state}}</p>
          <p>Pincode: {{currentBooking?.address?.pincode}}</p>
        </div>
      </div>
    </div>

    <!-- pictures before and after work -->
    <div class="pictures-div" *ngIf="picAvalable">
      <div class="pictures-before">
        <h3>Pictures Before Work</h3>
        <div class="img-cont">
          <div class="images" *ngFor="let item of currentBooking?.picsBefore">
            <img src="{{item}}" alt="" />
          </div>
        </div>
      </div>
      <div class="pictures-after">
        <h3>Pictures After Work</h3>
        <div class="img-cont">
          <div class="images" *ngFor="let item of currentBooking?.picsAfter">
            <img src="{{item}}" alt="" />
          </div>
        </div>
      </div>
    </div>

    <!-- Payment Details -->
    <div>
      <ion-card class="payment">
        <ion-card-header style="border-bottom: 1px double #d7d7d7">
          <div
            class="title"
            *ngIf="currentBooking?.stage == utils.completed.key"
          >
            <span>Payment Details</span>
            <button (click)="downloadPdf()">
              <img src="../../../../assets/download.svg" alt="" />
            </button>
          </div>

          <div class="payment-row">
            <div class="payment-heading">Total Duration</div>
            <!-- <div class="payment-value">{{duration}}</div> -->
            <div class="payment-value">{{actualJobDuration}}</div>
          </div>
          <!-- <div class="payment-row">
              <div class="payment-heading">Slot Duration</div>
              <div class="payment-value">{{duration}}</div>
            </div> -->

          <div class="items">
            <ng-container *ngFor="let item of currentBooking?.services">
              <div class="row1" *ngFor="let variant of item.variants">
                <p class="col1">
                  {{variant.name }} X
                  <span style="color: #fb9f14">{{ variant.quantity}}</span>
                </p>
                <p style="color: #fb9f14">
                  {{(variant.billing.totalPrice) | currency:'INR' : 'symbol' :
                  '1.0-0'}}
                </p>
              </div>
            </ng-container>
          </div>

          <div class="payment-row">
            <div class="payment-heading">Total (MRP)</div>
            <div class="payment-value">
              {{currentBooking?.billing?.subTotal | currency:'INR' : 'symbol' :
              '1.0-0'}}
            </div>
          </div>
          <div class="payment-row">
            <div class="payment-heading">Discount</div>
            <div class="payment-value" style="color: #c16256">
              -{{discount | currency:'INR': 'symbol' : '1.0-0'}}
            </div>
          </div>
          <div class="payment-row mb-20">
            <div class="payment-heading">Discounted Price</div>
            <div class="payment-value">
              {{(currentBooking?.billing?.subTotal || 0) - (discount || 0) |
              currency:'INR' : 'symbol' : '1.0-0'}}
            </div>
          </div>
          <div
            class="payment-row"
            *ngFor="let charge of currentBooking?.billing?.fixedCharges"
          >
            <div class="payment-heading">{{charge.name}}</div>
            <div class="payment-value">{{charge.amount | currency:'INR'}}</div>
          </div>
          <!-- Total Price -->
          <div style="border-top: 2px dashed #d7d7d7">
            <div class="payment-row mt-20">
              <div class="payment-heading total-price">Total</div>
              <div class="payment-value amount" style="color: #579540">
                {{(currentBooking?.billing?.grandTotal) | currency:'INR' :
                'symbol' : '1.0-0'}}
              </div>
            </div>
          </div>
          <!-- Banner -->
          <div
            class="offer-bar"
            *ngIf="discount !==0 && discount !== undefined"
          >
            <img class="tag-image" src="../../../assets/tag.svg" alt="" />
            <p class="tag-text">
              Yay! You have saved {{discount | currency:'INR' : 'symbol' :
              '1.0-0'}}.
            </p>
          </div>
        </ion-card-header>
      </ion-card>
    </div>

    <!-- payment card -->
    <!-- <div class="payment-details-div">
        <ion-grid>
          <ion-row>
            <ion-col class="heading" size = "4">Payment Details</ion-col>
            <ion-col class="title-det row1col" size = "8"><span>Completed</span></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="sub-title" size = "4">Payment Mode</ion-col>
            <ion-col class="title-det row2col" size = "8">Pre Paid Online</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="sub-title" size = "4">Transaction ID</ion-col>
            <ion-col class="title-det row3col" size = "8"><img src="../../../../assets/transaction.svg" alt="">hgfg76746uwbhjwyry387837548b</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="sub-title" size = "4">Refund Status</ion-col>
            <ion-col class="title-det row4col" size = "8">
              Your Refund has been initiated <br>
              It will be processed before 3 Business Days
            </ion-col>
          </ion-row>
        </ion-grid>
      </div> -->
    <!-- Payment Method -->
    <div>
      <ion-card class="payment">
        <ion-card-header style="border-bottom: 1px double #d7d7d7">
          <div class="title">
            <span>Payment Details</span>
            <p
              class="body"
              *ngIf="currentBooking?.isRefundInitiated === false && (currentBooking?.isPaid || currentBooking?.isPaylater === false)"
              [ngClass]="[currentBooking?.payment?.stage === 'paymentCaptureSuccess' ? 'success' : 'faild']"
            >
              {{ currentBooking?.payment?.stage === 'paymentCaptureSuccess' ?
              'Completed' : 'Failed' }}
            </p>
            <p
              class="body paylater"
              *ngIf="currentBooking?.isPaid === false && currentBooking?.isPaylater"
            >
              Pending
            </p>
            <p
              class="body inProgressRefund"
              *ngIf="currentBooking?.isRefundInitiated && currentBooking?.refundInitiatedDetails.status === 'pending'"
            >
              Refund In Progress
            </p>
            <p
              class="body success"
              *ngIf="currentBooking?.isRefundInitiated && currentBooking?.refundInitiatedDetails.status === 'processed'"
            >
              Refund Processed
            </p>
            <p
              class="body faild"
              *ngIf="currentBooking?.isRefundInitiated && currentBooking?.refundInitiatedDetails.status === 'failed'"
            >
              Refund Failed
            </p>
          </div>
          <div class="payment-row">
            <div class="payment-heading">Payment Mode</div>
            <div
              class="payment-value"
              *ngIf="currentBooking?.isPaid || currentBooking?.isPaylater == false"
            >
              Pre Paid Online
            </div>
            <div
              class="payment-value"
              *ngIf="currentBooking?.isPaid == false && currentBooking?.isPaylater"
            >
              Pay After Job
            </div>
          </div>
          <div class="payment-row">
            <div class="payment-heading">Transaction ID</div>
            <div
              class="payment-value"
              *ngIf="currentBooking?.isPaid || currentBooking?.isPaylater == false"
              title="{{currentBooking?.payment?.id}}"
            >
              {{currentBooking?.payment?.razorpay_payment_id}}
            </div>
            <div
              class="payment-value"
              *ngIf="currentBooking?.isPaid == false && currentBooking?.isPaylater"
            >
              {{currentBooking?.id}}
            </div>
          </div>
          <div class="payment-row" *ngIf="currentBooking?.isRefundInitiated">
            <div class="payment-heading">Refund Transaction ID</div>
            <div
              class="payment-value"
              title="{{currentBooking?.refundInitiatedDetails?.id}}"
            >
              {{currentBooking?.refundInitiatedDetails?.id}}
            </div>
          </div>
          <div style="border-top: 2px dashed #d7d7d7">
            <div class="payment-row mt-20">
              <div class="payment-heading total-price">Refund Amount</div>
              <div class="payment-value amount" style="color: #579540">
                {{((currentBooking?.refundInitiatedDetails?.amount/100) || 0) |
                currency:'INR' : 'symbol' : '1.0-0'}}
              </div>
            </div>
          </div>
          <div
            class="payment-row"
            *ngIf="currentBooking?.isRefundInitiated && currentBooking?.refundInitiatedDetails.status === 'pending'"
          >
            <div class="payment-heading">Refund Status</div>
            <div
              class=""
              title="Your Refund has been initiated It will be processed before 3 Business Days"
            >
              Your Refund has been initiated It will be processed before 3
              Business Days
            </div>
          </div>
        </ion-card-header>
      </ion-card>
    </div>
    <!-- Rating -->
    <div class="review-section">
      <!-- Card header -->
      <div class="row-5" *ngIf="currentBooking?.stage !== 'discarded' ">
        <h3 class="head">Rating</h3>
        <p>
          (Ratings can be given/changed within 2 hours after the completion of
          Seva)
        </p>
      </div>
      <div *ngIf="currentBooking?.stage === 'completed' ">
        <div
          class="service-review-cont"
          *ngFor="let service of currentBooking?.services"
        >
          <!-- Price and Subject -->
          <div class="row-7" *ngFor="let variant of service.variants">
            <div class="img-div">
              <img
                class="image"
                src="{{currentBooking?.mainCategory?.icon}}"
                alt=""
              />
            </div>
            <div class="service-det">
              <div class="service-head">
                <h3 class="head">{{service.name}}</h3>
                <span class="body1"
                  >{{variant.name }} x {{ variant.quantity}}</span
                >
              </div>
              <!-- (click)="isModalOpenRate=true" -->
              <div
                class="rating"
                id="open-modal-rate"
                expand="block"
                (click)="rateService(service)"
                *ngIf="!service?.rating"
              >
                <p style="margin-right: 10px" *ngIf="!service?.rating">
                  Please Rate
                </p>
                <p style="margin-right: 10px" *ngIf="service?.rating">
                  {{service?.rating.reviewTitle}}
                </p>
                <span
                  ><img src="../../../assets/star-outlined.svg" alt=""
                /></span>
                <span
                  ><img src="../../../assets/star-outlined.svg" alt=""
                /></span>
                <span
                  ><img src="../../../assets/star-outlined.svg" alt=""
                /></span>
                <span
                  ><img src="../../../assets/star-outlined.svg" alt=""
                /></span>
                <span
                  ><img src="../../../assets/star-outlined.svg" alt=""
                /></span>
              </div>
              <div
                class="rating"
                id="open-modal-rate"
                expand="block"
                *ngIf="service?.rating"
              >
                <p style="margin-right: 10px" *ngIf="service?.rating">
                  {{service?.rating.reviewTitle}}
                </p>
                <span
                  *ngFor="let item of [].constructor(service?.rating.rating); let i = index "
                  ><img src="../../../assets/carbon_star-filled.svg" alt=""
                /></span>
                <span
                  *ngFor="let item of [].constructor(5-service?.rating.rating); let i = index "
                  ><img src="../../../assets/star-outlined.svg" alt=""
                /></span>
              </div>
            </div>
            <div class="price">
              <span class="right"
                >{{variant.billing.discountedPrice | currency:'INR' }}</span
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="reschedule-container mt-4"
        *ngIf="currentBooking?.stage === 'allotmentPending' || currentBooking?.stage === 'acceptancePending'  || currentBooking?.stage === 'jobAccepted'"
      >
        <button
          class="reschedule-button"
          type="button"
          (click)="rescheduleSubmit()"
        >
          Reschedule
        </button>
        <button
          class="cancel-button"
          type="button"
          (click)="onClickCancelBooking()"
        >
          Cancel Booking
        </button>
      </div>
      <div
        class="container"
        *ngIf="currentBooking?.stage === 'allotmentPending' || currentBooking?.stage === 'acceptancePending' || currentBooking?.stage === 'inProgress'"
        style="margin-bottom: 25px"
      >
        <ion-card style="margin: 0px; background-color: #edf2eb">
          <ion-card-content>
            <ul>
              <li class="pargraph">
                No charge if you reschedule or cancel until 3 hours before the
                seva
              </li>
              <li class="pargraph">
                Within 3hrs, a cancellation fee of ₹100 is applicable
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</div>
