.party_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
    

    img {
        
        margin-bottom: 8vh;

    }

    p {
        text-align: center;
        color: #FB9F14;
    }

    .back_btn {
        margin-top: 4vh;
        color: var(--Primary-Text, #fff);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        /* 150% */
        width: 80%;
        height: 50px;
        border-radius: 10px;
        background: #FB9F14;

    }
}