<!-- <ion-content> -->
  <div class="main">
    <div class="row1">
      <div class="col1">
        <div class="jsc-div">
          <img src="assets/images/logo.svg" alt="Madhav Seva" />
          <span>Madhav Seva</span>
        </div>
      </div>
      <div class="vertical-line"></div>
      <div class="col2">
        <div class="head"><h3>Social</h3></div>
  
        <div class="social-icons">
          <img src="../../../assets/icon/webFooter/fb.svg" alt="" />
          <img src="../../../assets/icon/webFooter/insta.svg" alt="" />
          <img src="../../../assets/icon/webFooter/whatsapp.svg" alt="" />
        </div>
        <div class="play-btn">
          <a
            target="_blank"
            href="https://play.google.com/store/apps/details?id=com.shreeva.jaipurservicecompanycustomer&pli=1"
          >
            <img
              src="../../../assets/icon/webFooter/google-play-badge 1.png"
              alt="Download from Play Store"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="row2">
      <div class="sub-col1">
        <button (click)="openTnC()">Terms and Condition</button>
        <button (click)="openPrivacy()">Privacy Policy</button>
      </div>
      <span class="sub-col2"
        >Copyright 2024 Madhav Seva. All rights reserved.</span
      >
    </div>
  </div>
  