/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

ion-header {
  box-shadow: none;
}
ion-toolbar {
  box-shadow: none;
}
* {
  font-family: Lato !important;
}
.modal-wrapper,
.modal-shadow {
  border-radius: 20px !important;
}
:host(.modal-sheet) .modal-wrapper,
:host(.modal-sheet) .modal-shadow {
  border-radius: 20px !important;
}
ion-modal::part(backdrop) {
  --backdrop-opacity: 0.8;
}

ion-action-sheet.gender-action-sheet {
  --button-color: #fb9f14;
  --color: #fb9f14;
}

ion-action-sheet.notification-option {
  --button-color: #fb9f14;
}

svg.ionicon.s-ion-icon {
  stroke: #fb9f14;
  fill: #fb9f14;
}

ion-radio {
  color: #fb9f14;
}

ion-modal {
  --width: 65%;
  --height: 75%;
}

#web-view {
  display: none;
}

@media only screen and (min-width: 1024px) {
  #web-view {
    display: block;
  }

  #mobile-view {
    display: none;
  }

  .back-container {
    background: linear-gradient(117deg, #ffede5 0%, #fb9f14 100%);
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .main-container {
      width: 50%;
      margin: 0 auto;
      border-radius: 10px;
      padding: 20px;
      background: white;
      height: 100%;
      overflow-y: auto;
    }
  }
}
