ion-toolbar{
    $secondaryTextColor:#094A28;
    ion-text{
        p{
            color:$secondaryTextColor;
        }
    }
    ion-buttons:nth-child(1){
        ion-button{
            img{
                height: 23px;
            }
        }
    }
}