.allCategory-div {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-evenly;
  row-gap: 40px;
  margin-top: 40px;

  .details {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    a {
      width: 72px;
      height: 72px;
      display: flex;
      border-radius: 58px;
      align-items: center;
      justify-content: center;
      background: #f5f5f5;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 7px;
      font-size: 17px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      color:#F5ACA4
    }
  }
}

#search {
  display: inline-flex;
  padding: 9px 13px;
  padding-right: 9px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #F6D3C1;
  background: #fff;
  /* Drop Shadow */
  box-shadow: 0px 2px 6px 1px rgba(22, 22, 22, 0.1);
  width: 100%;
  height: 50px;
  padding-left: 1px;


  input::placeholder {
    color:#F6D3C1;
  }

  .left-arrow{
    background: white;
    margin-right: 6px;
  }

  // p{
  //     color: $secondaryTextColor;
  // }
  input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 16px;
    // color: $secondaryTextColor;
    
  }

  span {
    // background-color: $primaryBackgroundColor;
    border-radius: 8px;
    background: var(--primary, #F5ACA4);
    border-radius: 8px;
    color: white;
    width: 40px;
    height: 32px;
    display: grid;
    place-items: center;
  }
}

.container-fluid {
    h2 {
      color: var(--primary, #F5ACA4);
      font-family: Lato;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 27px */
      margin-left: 14px;
    }
  
}
