* {
  box-shadow: none;
}
ion-toolbar {
  $secondaryTextColor: #fb9f14;
  ion-text {
    h4 {
      color: #fb9f14;
      margin: 13px 0px 0px;
      font-size: 14px;
      font-weight: 600;
    }
    p {
      color: $secondaryTextColor;
      font-size: 12px;
      font-weight: 400;
      margin-top: 3px;
      display: flex;
      height: 18px;
      overflow: hidden;
      max-width: 72%;
    }
  }
  ion-buttons:nth-child(1) {
    ion-button {
      margin-bottom: 6px;
      img {
        height: 23px;
      }
    }
  }
}

.jsc-logo {
  display: none;
}

ion-buttons {
  .button_back {
    background: linear-gradient(180deg, #fb9f14 0%, #f77411 100%);
    padding: 1px 7px;
    border-radius: 30px;
  }

  .party {
    --color: #ffff;
    img {
      padding-left: 12px;
    }
  }
}

.main-container {
  padding: 14px;
  overflow: scroll;
  margin-bottom: 15px;
  height: 500px;
  .address-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin: 0;
      font-size: 20px;
      font-weight: 600;
    }

    .new-add-button {
      button {
        display: flex;
        background: white;
        color: var(--tertiary, #fb9f14);
        font-weight: 600;
        cursor: pointer;

        span {
          margin-right: 5px;
        }
      }
    }
  }

  .temp-div {
    margin-top: 10px;
    overflow: scroll;
    max-height: 50%;
  }

  .address-det-div {
    margin-top: 15px;
    .address-box {
      border-radius: 12px;
      border: 1px solid var(--Line, #ffebcb);
      background: #fff;
      padding: 10px;
      box-shadow: -1px 4px 10px -4px rgba(22, 22, 22, 0.08);
      margin-bottom: 12px;

      .add-cont {
        display: grid;
        grid-template-columns: 10% 70% 20%;

        .input-div {
          display: flex;
          cursor: pointer;

          input[type="radio"] {
            accent-color: #232323;
          }
        }

        .address-details {
          h2 {
            font-size: 14px;
            font-weight: 700;
            margin: 7px 0;
          }

          p {
            font-size: 12px;
            font-weight: 400;
            margin: 1px 0;
          }
        }

        .edit-delete-address {
          // padding-left: 14px;

          img {
            margin-right: 15px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.top-address {
  span {
    display: block;
  }
}

#search {
  display: none;
  padding: 9px 13px;
  padding-right: 9px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #bebebe;
  background: #fff;
  /* Drop Shadow */
  box-shadow: 0px 2px 6px 1px rgba(22, 22, 22, 0.1);
  width: 100%;
  height: 50px;
  p {
    color: #9b9e9f;
    margin: 0;
  }
  span {
    background-color: #fb9f14;
    border-radius: 8px;
    color: white;
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
  }
}

.location-det {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  ion-header {
    background-color: white;
    padding: 25px 0px;
  }
  ion-toolbar {
    width: 90%;
    margin: 0 auto;
    // padding: 20px 0;
  }

  #search {
    display: inline-flex;
  }

  .jsc-logo {
    display: flex;
    align-items: center;

    img {
      width: 71px;
      height: 65px;
    }

    span {
      width: 193px;
      color: var(--primary-button, #fb9f14);
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 30px */
      letter-spacing: 5.6px;
    }
  }

  .location-det {
    width: 35%;
    border-radius: 10.951px;
    border: 1.095px solid #bebebe;
    background: #fff;
    padding: 6px 0;
    box-shadow: 0px 2px 6px 1px rgba(22, 22, 22, 0.1);
    ion-text {
      h4 {
        margin: 0;
      }
    }

    p {
      margin-bottom: 0;
    }
  }
}
