* {
  box-shadow: none;
}
ion-toolbar {
  $secondaryTextColor: #F5ACA4;
  ion-text {
    h4 {
      color: #DA8281;
      margin: 13px 0px 0px;
      font-size: 14px;
      font-weight: 600;
    }
    p {
      color: $secondaryTextColor;
      font-size: 12px;
      font-weight: 400;
      margin-top: 3px;
      display: flex;
      height: 18px;
      overflow: hidden;
      max-width: 72%;

    }
  }
  ion-buttons:nth-child(1) {
    
    ion-button {
      margin-bottom: 6px;
      img {
        height: 23px;
      }
    }
  }
}
ion-buttons{
  .button_back{
    background-color:#F5ACA4 ;
    padding: 1px 7px;
    border-radius: 30px;
  }
  
  .party{
  --background:#F5ACA4;
  --color:#844031;
  img{
    padding-left:12px;
  
  }
}

}

.main-container {
  padding: 14px;
  overflow: scroll;
  margin-bottom: 15px;
  height: 500px;
  .address-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin: 0;
      font-size: 20px;
      font-weight: 600;
    }

    .new-add-button {
      button {
        display: flex;
        background: white;
        color: var(--tertiary, #85454B);
        font-weight: 600;
        cursor: pointer;

        span {
          margin-right: 5px;
        }
      }
    }
  }

  .temp-div {
    margin-top: 10px;
    overflow: scroll;
    max-height: 50%;
  }

  .address-det-div {
    margin-top: 15px;
    .address-box {
      border-radius: 12px;
      border: 1px solid var(--Line, #e9e9e9);
      background: #fff;
      padding: 10px;
      box-shadow: -1px 4px 10px -4px rgba(22, 22, 22, 0.08);
      margin-bottom: 12px;

      .add-cont {
        display: grid;
        grid-template-columns: 10% 70% 20%;

        .input-div {
          display: flex;
          cursor: pointer;

          input[type="radio"] {
            accent-color: #232323;
          }
        }

        .address-details {
          h2 {
            font-size: 14px;
            font-weight: 700;
            margin: 7px 0;
          }

          p {
            font-size: 12px;
            font-weight: 400;
            margin: 1px 0;
          }
        }

        .edit-delete-address {
          // padding-left: 14px;

          img {
            margin-right: 15px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.top-address {
  span {
    display: block;
  }
}
