.d {
  border-radius: 15px;
  width: 325px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.page-container{
  flex: auto;
}
.icon-container{
  margin-top: 12px;
  position: fixed;
  top: -2px;
  z-index: 100;
  ion-icon{
    width: 25px;
    height: 25px;
  }
}
.justify-content-end{
  justify-content: flex-end;
}
.circle-container {
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-style: solid;
  border-width: thin;
  border-color: #bfbfbf;
}

// .ion-page{
//     position: relative;
// }

.icon {
  height: 40px;
  width: 40px;

  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}
.icon,
.content {
  margin: 0 10px 0 10px;
}
.content {
  padding: 0;
  margin: 0;
  line-height: 8px;
}

.container {
  h1 {
    color: var(--primary, #F5ACA4);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .payment {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 0px;
    align-items: center;
  }
  .delete-main {
    width: 50%;
    padding: 15px 10px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 8px;
    display: flex;
    align-items: center;
    box-shadow: -1px 4px 10px -4px rgba(22, 22, 22, 0.08);
    margin: 5px 0px 5px 0px;
    background-color: #eedb31;
    .payment {
      padding-left: 16px;
      span {
      }
    }
  }

  .delete-box {
    display: flex;
    padding: 13px 29px 12px 13px;
    border-radius: 8px;
    background: #f1f1f1;
    margin: 36px 16px;
    justify-content: space-between;
    align-items: center;
    .undo {
      color: var(--OTP-Verification, #F5ACA4);
      font-size: 13px;
      font-weight: 600;
    }
  }

  .not-det {
    display: flex;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--Line, #e9e9e9);
    background: #fff;
    box-shadow: -1px 4px 10px -4px rgba(22, 22, 22, 0.08);
    padding: 0px 13px;

    p {
      color: #666;
      font-family: Lato;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .col-1 {
      width: 16%;
      display: flex;
      margin-right: 12px;
      align-items: center;

      .img-div {
        width: 48px;
        border: 1px solid #F6D3C1;
        height: 48px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .col-2 {
      width: 90%;

      

      h1 {
        color: var(--primary, #F5ACA4);
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }

  .row-1 {
    .booking-progress {
      .col-1 {
        width: 16%;
        display: flex;
        margin-right: 12px;
        align-items: center;

        img {
          height: 48px;
          width: 48px;
        }
      }
    }
  }

  .delete-div {
    justify-content: space-between;
    display: flex;
    padding: 13px 29px 12px 13px;
    /* align-items: flex-start; */
    /* gap: 208px; */
    border-radius: 8px;
    background: #f1f1f1;
    margin-top: 30px;

    span {
      color: var(--primary, #F5ACA4);
      font-family: Lato;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    button {
      color: var(--OTP-Verification,#F5ACA4 );
      font-family: Lato;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      cursor: pointer;
    }
  }
}
ion-button {
  padding: 0px 8px;
  --border-radius: 12px;
  --padding-top: 16px;
  --padding-bottom: 16px;
  width: 50%;
  text-transform: none;
  margin: 0px auto;
}
