.services {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 5px;
  .service {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    background: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-bottom: 2px solid #dcdcdc;
    img {
      width: 100px;
      height: 100px;
      border-radius: 15px;
      object-fit: cover;
      padding: 10px;
    }
    .content {
      display: flex;
      flex-direction: column;
      gap: 6px;
      .price {
        display: flex;
        span {
          color: green;
          font-size: 20px;
        }
      }
    }
  }
}

ion-content {
  $secondaryTextColor: #9b9e9f;
  $primaryBackgroundColor: #FB9F14;
  font-family: "Lato", sans-serif;

  #search {
    display: inline-flex;
    padding: 9px 13px;
    padding-right: 9px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #bebebe;
    background: #fff;
    /* Drop Shadow */
    box-shadow: 0px 2px 6px 1px rgba(22, 22, 22, 0.1);
    width: 100%;
    height: 50px;

    // p{
    //     color: $secondaryTextColor;
    // }
    input {
      border: none;
      outline: none;
      width: 100%;
      height: 100%;
      font-size: 16px;
      color: $secondaryTextColor;
    }

    span {
      background-color: $primaryBackgroundColor;
      border-radius: 8px;
      color: white;
      width: 40px;
      height: 32px;
      display: grid;
      place-items: center;
    }
  }

  #previousSearches {
    margin-top: 20px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    hr {
      height: 0px;
      border: 1px solid #e5e5e5;
    }

    .items {
      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
      }

      &.overflow {
        max-height: 100px;
        overflow-y: auto;
      }
    }
  }

  ion-list {
    ion-item {
      --inner-padding-end: 0;
    }
    .notFound {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
}
.item-img {
  width: 82px;
  height: 86px;
  margin-bottom: 5px;
}
.search-image {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 10px;
}
.searchresult-name {
  margin-top: -50px;
  margin-left: 10px;
  color: var(--primary, #FB9F14);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.28px;
  color: var(--primary, #FB9F14);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.28px;
}
.searchresult-price {
  color: #579540;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
ion-thumbnail {
  width: 100px !important;
  height: 100px !important;
  img {
    border-radius: 10px;
  }
}
ion-label {
  li {
    text-wrap: balance;
    font-size: 12px;
  }
  ion-icon {
    margin-right: 10px;
    color: #FB9F14;
  }
}
.clear {
  font-size: large;
  border-style: hidden;
  background-color: #fff;
  margin-top: -10px;
}
.clear:hover {
  color: #9b9e9f;
}
.rating {
  font-size: small;
  line-height: 16.8px;
  display: flex;
  align-items: center;
  ion-icon {
    color: #FB9F14;
    margin-right: 5px;
    margin-bottom: 3px;
  }
  strong {
    color: #FB9F14;
    font-weight: 700;
    font-size: 12px;
  }
}

.service-price {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;

  .service-name {
    margin-bottom: 4px;
    color:#FB9F14;
  }

  .col-price {
    // padding-left: 15px;
    span {
      color: #FB9F14;
      font-family: Lato;
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration-line: line-through;
      margin-top: 4px;
      margin-right: 25px;
    }
  }
  .price {
    display: flex;
    font-size: 14px;
    color: #579540;
    font-weight: 700;
  }
}
.details {
  margin-bottom: 2px;
  .description {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    display: flex;
    width: 100%;
    // align-items: center;

    strong {
      display: flex;
      align-items: center;
      margin-left: 5px;
      color: #525253;
      font-family: Lato;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px; /* 116.667% */
      letter-spacing: -0.24px;
    }
  }
}
.grird-margin-top {
  margin-top: -6px;
}

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 32px;
}
.search-item {
  margin-bottom: 5px;
  // max-height: 26 6px;
  height: 115px;
  min-height: 100px;
  // overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;

  .item-inner {
    padding: 0;
  }
}

.no-rating{
  width: 15px;
    margin-top: -8px;
    margin-right: 5px;
    color: #FB9F14;
}